[2014-05-14 10:04] nickvergessen opened #1 "Grouping shows "and 0 more""
Should not display that

[2014-05-14 10:08] nickvergessen opened #2 "Grouped file actions in one sentence"
grouped file actions should be displayed in a row, not in a list (and not repeat the action) so instead of the `You created x, you created y, you created z …`, it should say: `You created x, y, z and 3 more …` in one line

[2014-05-14 12:36] nickvergessen opened #3 "Old activities should be deleted via cron"
Currently it's done randomly when inserting:

[code]

[2014-05-14 13:07] nickvergessen opened #4 "Some methods do not use CamelCase"
https://github.com/owncloud/apps/pull/1769/files#r12634169

[2014-05-14 14:03] nickvergessen opened #5 "Cannot open RSS feed in IE11"
https://github.com/owncloud/apps/issues/1605

[2014-05-14 14:05] nickvergessen opened #6 "Allow public access to feed with token"
https://github.com/owncloud/apps/issues/1625
https://github.com/owncloud/core/issues/6379

[2014-05-14 14:09] nickvergessen opened #7 "Allow users to delete activities from the feed"
https://github.com/owncloud/apps/issues/1764

[2014-05-14 14:10] nickvergessen opened #8 "Activity uses script and style from files_external app"
https://github.com/owncloud/apps/issues/1768

[2014-05-14 14:12] nickvergessen opened #9 "Does the search for activity make sense at all?"
https://github.com/owncloud/apps/issues/1783

[2014-05-14 14:40] nickvergessen opened #10 "Notification list in the header"
https://github.com/owncloud/core/issues/6348

[2014-05-14 14:47] nickvergessen opened #11 "Revisit txt-previews"
.txt previews are generated with a white background, which is now displayed on white background instead of gray background compared to before
https://github.com/owncloud/apps/pull/1769#issuecomment-43059181

Might not be an issue for normal files as they are not as empty as the one-line testing files I used

[2014-05-14 14:51] nickvergessen opened #12 "Better link activity date to the related action"
it's too hard to guess which date belongs to which activity when your screen is a bit bigger
https://github.com/owncloud/apps/pull/1769#issuecomment-43059181

[2014-05-14 14:52] nickvergessen opened #13 "Display affected user avatar when sharing a folder/item"
when you share something with someone (or receive a share), the avatar should be shown left next to the name of that person. (Do not show the avatar of the current user!)

[2014-05-14 15:21] nickvergessen opened #14 "Database should have indexes"
At least for the most common queries

[2014-05-14 16:20] nickvergessen opened #15 "Activity feed uses untranslated strings"
[code]

[2014-05-16 09:03] #11 closed, assigned to nobody

[2014-05-16 15:28] nickvergessen opened #16 "Delete activities and email queue entries when deleting users"
There is no need to keep that data, after the user has been deleted.

[2014-05-16 15:29] #7 closed, assigned to nobody

[2014-05-21 09:18] nickvergessen opened #17 "Use \OC\Preferences::getValueForUsers() instead of querying the DB"
- [x] Depends on https://github.com/owncloud/core/pull/8659

[2014-05-21 09:39] nickvergessen opened #18 "Implement filtering of event types"
### Sidebar

The first section should be like this:
- All Activity
- Activity by you
- Activity by others
- Shares

Then a section for the individual apps:
- Files
- Calendar
- Contacts
- …

[2014-05-21 12:37] #8 closed, assigned to nickvergessen

[2014-05-21 12:40] jancborchardt opened #25 "More automatic intelligent grouping of notification mails"
About the »Send emails (Hourly, as they happen, …)« setting:

Can we make that more automatic, that it groups events which happen in rapid succession? Also changes are less important – but for new shares you get, you should immediately get a notification.

Much like for how the Activities are grouped in the Activity app itself.

@nickvergessen @owncloud/designers

[2014-05-22 13:35] #3 closed, assigned to nickvergessen

[2014-05-22 13:35] #4 closed, assigned to nickvergessen

[2014-05-23 13:15] #14 closed, assigned to nickvergessen

[2014-05-23 17:33] #17 closed, assigned to nobody

[2014-05-24 17:12] PVince81 opened #32 "Update daily build to include the activity app"
@karlitschek please update the daily build for master to include this app, now that it's in a separate repo.

[2014-05-25 22:01] #32 closed, assigned to karlitschek

[2014-05-26 10:34] vgezer opened #34 "Translations are not updated"
Since activity is separated from the core repository, it does not update the translations from transifex.

This is also valid for files_pdfviewer and updater

@DeepDiver1975

[2014-05-26 11:31] requist opened #35 "activity screen layout unreadable"
I am running OC7 commit a34491e28895f84d220cb5dbbbe4273172334716 with activity commit 9f4ea28cbbc70390c3ae22647bc09c64c1fa2ecf (both currently most recent commits)

When I enter the activity app it gives me an unreadable screen:
![screenshot from 2014-05-26 12 02 47](https://cloud.githubusercontent.com/assets/7267323/3081482/25b722b2-e4c0-11e3-8c56-263ff8752c91.png)

Logs are filling with:

[code]

[2014-05-26 22:39] #34 closed, assigned to DeepDiver1975

[2014-05-27 16:54] vgezer opened #37 "%1$s usage causes translation problems"
[Here](https://github.com/owncloud/activity/blob/master/lib/data.php#L230-L257) the strings are converted into `"You created %1$s"`which causes `$s` to be used as a variable by PHP.

We should either escape `$` or find another way to make flexible translation.

[2014-05-27 22:29] #16 closed, assigned to nickvergessen

[2014-05-28 16:21] #35 closed, assigned to nickvergessen

[2014-05-28 20:47] LukasReschke opened #43 "[Wed May 28 22:45:59 2014] [error] [client 192.168.122.1] PHP Fatal error: Call to undefined method OC\\Preferences::getValueForUsers() in /var/www/core/apps-external/activity/lib/hooks.php on line 306"
[code]

On master (core + activity) when deleting files.

[2014-05-28 20:52] #43 closed, assigned to nobody

[2014-05-28 20:55] #9 closed, assigned to nickvergessen

[2014-06-02 12:21] #15 closed, assigned to nobody

[2014-06-02 13:29] #1 closed, assigned to nickvergessen

[2014-06-02 13:29] #2 closed, assigned to nickvergessen

[2014-06-02 14:07] #12 closed, assigned to nickvergessen

[2014-06-02 15:51] #13 closed, assigned to nickvergessen

[2014-06-02 18:40] #37 closed, assigned to nobody

[2014-06-03 08:12] CtrlCCtrlVEnter opened #49 "Display shared links"
Hello,

the activity app shows already shared data with owncloud users or groups, for example
"You shared pichture.jpg with testuser".

But if you share some data with a link and input an email-adress, this action isn't shown in the activity app.

Is there any possibilty to show the "share link" actions in the activity app?

Best regards and thanks in advance,

CtrlCCtrlVEnter

[2014-06-03 08:39] jancborchardt opened #50 "Sidebar spec"
@nickvergessen as we talked about:

The first section should be like this:
- All Activity
- Activity by you
- Activity by others
- Shares

Then a section for the individual apps:
- Files
- Calendar
- Contacts
- …

And at the bottom an entry:
- RSS feed
  (In the future when we have more settings, we can have an expandable area)

Next to the navigation entries (on the right of them), there should b

[2014-06-03 08:39] cdamken opened #51 "Activity maximum size and erase"
Would it be possible to move the erase time to the config file, also increment the maximum amount of activity from int to bigint.

@nickvergessen

[2014-06-03 08:57] #49 closed, assigned to nickvergessen

[2014-06-03 10:13] #50 closed, assigned to nickvergessen

[2014-06-03 13:02] #51 closed, assigned to nickvergessen

[2014-06-03 17:16] nickvergessen opened #55 "Icon position of activities"
The icons (+, X, <, ... ) are not vertical aligned correctly.

@jancborchardt you want to take a look at it?

[2014-06-03 17:18] nickvergessen opened #56 "Display loading circle when switching to another filter"
We should use some JS magic and display a loading circle (like in the files app)
When changing from one filter to another.

/cc @jancborchardt

@PVince81 I heard you added that into the files app?

[2014-06-03 18:07] #18 closed, assigned to nickvergessen

[2014-06-04 10:16] #55 closed, assigned to nobody

[2014-06-04 11:07] requist opened #60 "Some first characters are not shown"
Running commit 61f62c1fef64dd9079daa6bfbc62c395e0b55c4e which now shows my data but sometimes looses the first character of You shared .... from the old data
So: _You shared wnCloudUserManual.pdf_ and _You shared xample.odt_
New data goes well.

If I look at the data in the database I see:
new data:
a:1:{i:0;s:14:"/sharetest.txt";}
old data:
a:1:{i:0;s:22:"ownCloudUserManual.pdf";}

So it appears

[2014-06-04 16:51] #60 closed, assigned to nickvergessen

[2014-06-06 10:06] #56 closed, assigned to nickvergessen

[2014-06-06 10:52] #6 closed, assigned to nickvergessen

[2014-06-16 07:02] nickvergessen opened #70 "Activities should use display name"
If it is given

[2014-06-16 13:32] #70 closed, assigned to nickvergessen

[2014-06-24 09:48] jancborchardt opened #74 "Notification settings break on mobile"
Since the Notification settings use a table layout, they break on mobile by introducing a horizontal scrollbar. See https://github.com/owncloud/core/issues/8906 for reference.

Now we can still have the table layout, but should make sure that the text wraps on mobile.

cc @owncloud/designers

[2014-06-24 12:39] cdamken opened #75 "When you share a file the hash code is displayed in the Activity"
After you share a file can you see in the Activity tab the following Hash code:

![screen shot 2014-06-23 at 16 40 58](https://cloud.githubusercontent.com/assets/7264495/3371181/932d2c9a-fb9c-11e3-947c-f28e70b034b0.png)

[2014-06-27 16:38] jancborchardt opened #76 "Event for sharing stuff via link not obvious enough"
Currently when you share something via link, the entry says:

Which doesn’t make it clear that it was via link.

It should be:

@nickvergessen

[2014-06-30 10:03] #75 closed, assigned to nobody

[2014-06-30 13:14] #76 closed, assigned to nickvergessen

[2014-07-01 15:13] Gomez opened #78 "No notification mails send out"
I run recent oc master with fresh activity clone on my local installation.
I configured sendmail and i  receive testmail and passwort reset mails.
All Notifications for mail are enabled, grouping is set to hourly.

Still no mails get send out.

Here is the export of "oc_activity_mq"

http://codepaste.net/hev5fd

Related errors in owncloud.log:

Undefined index: filter at /home/gomez/public_html/lo

[2014-07-01 15:17] Gomez opened #79 "Add a "Send notification now" button or function"
I was playing with the new notifications and maybe it would be a good idea to add a "Send all notifications now" button for the admin? With a respone back to the admin, if mails are send and how many?

[2014-07-01 15:20] Gomez opened #80 "Integrate Mail templates app"
With the Mail templates app it is possible to edit templates as admin over the web ui.
The activity template does not appear in the dropdown.
Havent looked into detail, but its a good idea to make this possible.

[2014-07-02 09:46] libasys opened #82 "HowTo use activity app with other apps e.g. calendar"
One simple Question: Is there a possibility to use the activity app for other apps to log activities from other user e.g. user a shares a calendar with user b? In the lib of oc i found an activitymanager? Could you please post a snippet, how to init the activitymanager and how to use it?

Thanks in advance!

[2014-07-02 09:52] #78 closed, assigned to nickvergessen

[2014-07-02 16:07] #74 closed, assigned to nobody

[2014-07-03 13:13] Gomez opened #87 "Wrong web url in Activity notification email"
On recent master i get email with a wrong url of the cloud:

[code]

There should be the url like https://supercloud.portknox.net

I use the cli cron.php

[2014-07-03 16:39] MorrisJobke opened #88 "Undefined index: filter"
Get this on every initial activity app startup (click on the navigation entry for activity) The url-parameter isn't set.

[code]

[2014-07-04 08:33] libasys opened #90 "Missing logic in activity and timeline"
in the personal area we can activate or deactivate logging activities, but the logic is not really clear, the information is not really true, for example:
"A new file or folder has been created in a shared folder"
But if i create a file or folder  in a not shared folder, this also get logs with. I think the activity should have more options to granulate.
e.g.
"A new file or folder has been created

[2014-07-04 11:46] nickvergessen opened #91 "Timeline order issue"
@libasys:

[2014-07-04 13:24] Niduroki opened #92 "[7RC1] Errors when cron.php is called"
### Steps to reproduce
1. Call cron.php
### Expected behaviour

No errors
### Actual behaviour

Errors
### Server configuration

**Operating system**: opensuse 12.3

**Web server:** nginx 1.5.12

**Database:** postgresql

**PHP version:** php 5.5.14

**ownCloud version:** (see ownCloud admin page) 7 RC1

**Updated from an older ownCloud or fresh install:** Updated

**List of activated apps:**
- Ac

[2014-07-04 13:54] #80 closed, assigned to nobody

[2014-07-07 11:02] nickvergessen opened #95 "Can not find display name for users with special chars"
The problem is we change userid before getting the displayname.
We need to first get the displayname and then modify the userid.

[2014-07-07 11:16] nickvergessen opened #97 "Filenames are escaped twice with `OC_Util::sanitizeHTML()`"
Filename: `te<st>`
Displayes as: `te&lt;st&gt;`
Is in HTML as: `te&amp;lt;st&amp;gt;`

[2014-07-07 13:33] #92 closed, assigned to nickvergessen

[2014-07-07 13:55] #97 closed, assigned to nickvergessen

[2014-07-07 14:15] nickvergessen opened #99 "Preview image missing in some cases"
Need to investigate why this is happening.

[2014-07-07 14:17] nickvergessen opened #100 "Activity when a share was unshared"
- [x] Depends on owncloud/core#9761

[2014-07-07 14:18] nickvergessen opened #101 "Activity when a share was reshared"
- [ ] Depends on owncloud/core#9058

Copied from todo in the code

[2014-07-07 14:18] nickvergessen opened #102 "Activity when a public share has expired"
Copied from todo in the code

[2014-07-07 14:18] nickvergessen opened #103 "Activity when a public share has been downloaded"
Copied from todo in the code

[2014-07-07 14:20] nickvergessen opened #104 "Activity when a file was uploaded to a public share"
- [x] Depends on owncloud/core#9759
- [x] Depends on owncloud/core#10490

Copied from todo in the code

Needs verification if it's not already the case

[2014-07-07 14:20] nickvergessen opened #105 "Activity when user is about to reach his quota"
Copied from todo in the code

[2014-07-07 14:21] nickvergessen opened #106 "Activity when a external storage fails to connect"
Copied from todo in the code

[2014-07-08 14:48] #82 closed, assigned to nickvergessen

[2014-07-09 08:27] jameslbrown opened #110 "7.0RC1 Activity. "Undefined index: filter at ..." when selecting All Activities."
### Steps to reproduce
1. Click on All Activities
   2.
   3.
### Expected behaviour

Activities from all users displayed.
### Actual behaviour

Only my activities are shown, and this error is logged:

{"app":"PHP","message":"Undefined index: filter at \/Library\/Server\/Web\/Data\/Sites\/owncloud.bordo.com.au\/owncloud\/apps\/activity\/lib\/data.php#259","level":3,"time":"July 09, 2014 18:19:31"}

[2014-07-09 08:31] #110 closed, assigned to nobody

[2014-07-09 23:02] nickvergessen opened #113 "Activity notification for own uploads into NON-shared folders"
Copied from https://github.com/owncloud/core/issues/9553
@o---

[2014-07-10 13:59] Gomez opened #114 "Hide activitiy for individual files (or anything)"
I have a file that gets updated all the time and spams my activity list. Would be cool to hide actions like this.

[2014-07-10 14:07] ser72 opened #115 "[oC7 RC1] Select folder in Activity takes you to home"
**Expected Behavior**
When selecting a folder from the Activity feed, you should be brought to that folder

**Actual Behavior**
Brought to files home

**Steps**
1) Create a folder and share with another User
2) Go to the Activity Feed page
3) The activity appears as follows:
![act](https://cloud.githubusercontent.com/assets/5174383/3539515/2980c012-083b-11e4-865c-67a50b1555c6.PNG)

4) Click on the

[2014-07-12 20:06] #88 closed, assigned to nickvergessen

[2014-07-14 12:33] #95 closed, assigned to nickvergessen

[2014-07-14 13:03] #91 closed, assigned to nickvergessen

[2014-07-14 13:23] #113 closed, assigned to nickvergessen

[2014-07-14 13:23] #90 closed, assigned to nickvergessen

[2014-07-18 11:06] #5 closed, assigned to nobody

[2014-07-18 11:46] #115 closed, assigned to nickvergessen

[2014-07-21 11:19] #99 closed, assigned to nobody

[2014-07-21 14:27] #102 closed, assigned to nickvergessen

[2014-07-23 15:44] senguendk opened #124 "Updating from 6.0.4 to 7.0 unsuccessful - Failed on "activity""
### Steps to reproduce
1. Update owncloud via apt-get from 6.0.4 to 7.0
2. Load owncloud webpage
3. Begin update procedure
### Expected behaviour

Update wizard should end normally and without errors.
### Actual behaviour

Update fails. Reports that it failed on "activity"
### Server configuration

Ubuntu 14.04 64bit
nginx/1.4.6 (Ubuntu)
mysql
PHP 5.5.9-1ubuntu4.3

owncloud 7.0
Updated from ownclo

[2014-07-24 09:24] jancborchardt opened #125 "Don’t show tipsy path tooltip for files in root"
The tipsy tooltip on hover of filenames shows the complete path of the file. We don’t need that for files which are in root.

also, we really only need to show the path, not the filename itself again. So for a file called »test.txt« in the »Projects/Notes« folder, the tooltip should say »in Projects/Notes« (no slash in the beginning, and the »in« to describe what it is.)

@nickvergessen

[2014-07-25 01:43] scolebrook opened #126 "uuid in sharing activity messages"
This is a fix for those running OC 6 and not in a position to upgrade to 7 yet and use the new activity app. Since the app has had so much work, It doesn't seem like there's much point in doing a PR. And I couldn't figure out which commit to branch from.

If you use an ldap backend with an alpha numeric id attribute as your OC internal username then when you share a file the uuid of the sharer sho

[2014-07-25 01:43] #126 closed, assigned to nobody

[2014-07-25 11:34] nickvergessen opened #127 "Activity Notification Email - username UUID instead of a "friendly" name"
Source: https://github.com/owncloud/core/issues/9858

[2014-07-26 12:24] nickvergessen opened #128 "Activity notification mails come in an ugly format"
Copied from https://github.com/owncloud/core/issues/9912

https://github.com/owncloud/core/issues/9912#issuecomment-50195312

@enoch85 @Wikinaut

[2014-07-28 10:37] #124 closed, assigned to nobody

[2014-07-28 10:54] #128 closed, assigned to nickvergessen

[2014-07-28 10:55] nickvergessen opened #131 "Add time/date information to email notifications"
https://github.com/owncloud/core/issues/9912#issuecomment-50195312

[2014-07-28 11:06] #127 closed, assigned to nobody

[2014-07-28 16:32] #125 closed, assigned to nickvergessen

[2014-08-07 18:02] #87 closed, assigned to nickvergessen

[2014-08-12 13:43] Gummikavalier opened #132 "Request: Admin option to turn Activity email notifications off by default"
Hi,

I got a bunch of questions from irritated users about spamming people with notification messages from owncloud (when sharing documents to the staff). The problem was that while I didn't knowingly send any messages, after upgrading to Owncloud 7.0.1 (Community Edition) the Activity application is sending notification emails about shared files, and it is enabled by default to all users.

Curren

[2014-08-14 16:37] schiessle opened #134 "Show download of public shared file"
Would be nice if the activity app would inform the user if a public shared file was downloaded.

Possible use case: Sometimes I share pictures with a friends so that he can download it. Would be great if I could see if the file was already downloaded so that I can remove the share link again.

[2014-08-15 18:52] #134 closed, assigned to nobody

[2014-08-18 07:04] #132 closed, assigned to nobody

[2014-08-19 20:02] dupondje opened #136 "Ampersand (&) is not encoded correctly in email"
I have an ownCloud account which displayname contains an '&' sign.
Now I received a message that the account shared a folder with me, but the '&' sign is displayed as '&amp;amp;' in the email.

So I guess the encoding goes wrong somewhere?

[2014-08-20 12:33] #104 closed, assigned to nobody

[2014-08-20 15:04] #136 closed, assigned to nickvergessen

[2014-08-30 14:00] j-ed opened #138 "OC7.0.2 - an exception occurres during app activation"
## Expected behaviour

It should be possible to activate the app when the required database table already exists. The reason why the database already exists could be that the app has already been used in the past.
## Actual behaviour

An exception occurres when the app is activated and the required database table already exists.

[code]
## Steps to reproduce

1.) Navigate to the Apps app
2.) Selec

[2014-08-31 20:56] rob006 opened #139 "Wrong url in email notifications"
I use system cron to run ownCloud cron jobs (`php -f /home/owncloud/public_html/cron.php`). In email notifications i have something like that:

Absolute path of ownCloud webroot is appended to URL. Correct url should look like that: http://domain.pl/

[2014-09-01 06:20] #139 closed, assigned to nobody

[2014-09-02 20:57] Wikinaut opened #140 ""overwritewebroot" = "/owncloud" ‒ but the protocol (https://) is incorrect"
- OC core 7.0.2

I am using "overwritewebroot" and notification mails come with the (almost) correct root Url of my ownloud installation, but I have also
- 'forcessl' => true

and …
surprise, surprise...

the notification Url is incorrect:

http://www.example.com/owncloud

instead of

https://www.example.com/owncloud

I tried to configure the full Web url, but this breaks owncloud fully.

Please f

[2014-09-03 07:48] #140 closed, assigned to nobody

[2014-09-04 10:24] PVince81 opened #141 "[master] Fix routes"
The app can't be activated in master since it now needs explicit routes.

@LukasReschke can you help fixing this ? Thanks.

[2014-09-08 08:15] nickvergessen opened #143 "Tests fail since phpunit update on travis"
[code]

[2014-09-08 09:16] #138 closed, assigned to nobody

[2014-09-08 09:30] #143 closed, assigned to nickvergessen

[2014-09-08 10:35] #141 closed, assigned to nobody

[2014-09-08 14:23] nickvergessen opened #145 "Notification mails sometimes use a wrong language"
The title is translated correctly, but the email text sometimes is in the language of the user which triggered the email, rather then the recipient.

Copied from owncloud/core#10859

[2014-09-11 23:59] gig13 opened #147 "Add administrative configuration for global and group level activity"
Add an administrative configuration setup for enabling what can be shown or suppressed in the activity feed at a global level and for group level.

[2014-09-12 00:02] gig13 opened #148 "Add Restore to the activity"
When a file or folder is restored, the activity feed should record that information.

@MTRichards @jnfrmarks

[2014-09-12 00:07] gig13 opened #149 "Activity feed does not track restored files/folders that are updated or re-deleted"
When a file or folder is deleted and restored, additional activity is not displayed.

Example:
1. Upload a file
2. Delete the file
3. Restore the file
4. Update the file
5. Delete the file

Steps 3,4,5 are not part of the activity feed. Activity tracking is lost after the files/folder are deleted.

@MTRichards @jnfrmarks

[2014-09-12 00:13] gig13 opened #150 "Activity when files are downloaded"
Add activity when a file is downloaded by the user. Also add a summary of downloads when the file is downloaded via shares.

@MTRichards @jnfrmarks

[2014-09-12 08:18] #150 closed, assigned to nobody

[2014-09-15 09:36] #149 closed, assigned to nobody

[2014-09-15 10:40] jancborchardt opened #152 "Shouldn’t get notification emails about your own activity"
In the Activity notification settings, there are 4 things:
1. A new file or folder has been shared
2. A new file or folder has been created
3. A file or folder has been changed
4. A file or folder has been deleted

By default only 1 is sent via email notification and everything is in the stream.

Now for the stream it makes sense that when you tick 2,3,4 to show your own actions in there. But it d

[2014-09-15 13:32] sodetemplin opened #155 "Activity theming"
I would like to change app icon throught a specific theme : i tried to install my own picture in <install_dir><my_theme>/apps/activity/img/ but the app doesn't not take it into account :(

The only solution i have right now is to replace the original pictures in the default apps dir. :(

Thanks in advance.
David.

[2014-09-21 13:19] vgezer opened #156 "Missing a slash for directories"
Currently, when we click on a shared dir in activities app, it generates the following URL:

[code]

However, in actual we are not navigated into this directory.

The original link should have been:

[code]

It seems that we need to add somehow a slash to [this](https://github.com/owncloud/activity/blob/master/lib/display.php#L70) file.

[2014-09-22 08:06] #148 closed, assigned to nickvergessen

[2014-09-22 08:08] #131 closed, assigned to nobody

[2014-09-22 08:26] #156 closed, assigned to nickvergessen

[2014-09-24 15:59] lk7777 opened #158 "Email notification issue (activity)"
ownCloud 7.0.2
Linux Ubuntu 14.04
MySQL
apache2
PHP 5.5.9

It might be not  big deal, but it has come to my attantion that when 'Sent emails' is set to 'Hourly', the email is sent with this text in its body:
"...You are receiving this email because in the last
day the following things happened at..."
It is supposed to be "... in the last hour ..."'

The email template ' Activity Notification mail'

[2014-09-24 16:22] #158 closed, assigned to nobody

[2014-10-13 10:42] #147 closed, assigned to nobody

[2014-10-13 10:42] nickvergessen opened #161 "Make use of scrollto= in activity feed"
So the links jump to the folder in the list.

[2014-10-13 13:32] #152 closed, assigned to nickvergessen

[2014-10-30 14:11] LukasReschke opened #164 "When shared folders are outside of /Shared/ folder links are broken"
1. Move shared folders outside of /Shared/
2. Wait for some actions of other users
3. Open Activity View => Links are still linking to /Shared/ and therefore broken, even for new items

This happens on S3 - no idea what version is installed there.

@craigpg @MTRichards FYI - found this on S3. Please rate.

[2014-10-31 12:50] simonbuehler opened #165 "sharing a link announced twice in feed"
![screenshot 2014-10-31 13 45 51](https://cloud.githubusercontent.com/assets/78061/4860814/54acde5a-60fc-11e4-91e3-8dd39a73d277.jpg)

hi,

as it can be seen in the screenshot, somehow its shown twice when a link was shared

[2014-11-03 08:53] #165 closed, assigned to nickvergessen

[2014-11-03 12:58] nickvergessen opened #167 "Add a new notification with the email adress, if a link is shared via the email input field"
See #168

[2014-11-03 12:58] trigonova opened #168 "Show the email address, you shared a link with"
Hey,
when i share a link and send it to a mail address, i don't see in my activity with who i shared this link.
![activity](https://cloud.githubusercontent.com/assets/7849016/4882658/0fa60ee4-6359-11e4-83fe-b3e77e0b8e56.jpg)
Can you may implement this or is there already a way to customize this?

- [ ] Depends on owncloud/core#11951

[2014-11-03 13:04] #167 closed, assigned to nobody

[2014-11-03 17:03] LukasReschke opened #169 "Uploading a movie file creates a broken preview"
When uploading a movie file the preview image is broken:

![screen shot 2014-11-03 at 18 01 11](https://cloud.githubusercontent.com/assets/878997/4886279/07d32c48-637b-11e4-8b20-e3f367d62619.png)

This is most likely caused by the recent changes to the preview generation system in core. - Not sure how to fix this best.

[2014-11-05 09:23] #169 closed, assigned to nickvergessen

[2014-11-05 14:24] #161 closed, assigned to nickvergessen

[2014-11-15 16:06] MorrisJobke opened #175 "Notification time is in UTC instead of my timezone"
I got following mail today (at 16:56):

[code]

I don't know if it was shared at 15:50 or 14:50 but I guess 15:50 because the mail says "in the last hour". Therefore I guess it's a time conversion failure.

Is it possible to show the time in the timezone of the user (if it is somehow detectable - isn't it saved to the DB - cc @DeepDiver1975 )

[2014-11-18 11:07] JensKirchner opened #177 "Activity notification does not list activities by unknown users over shared links"
Activities on public shared folders by unknown users (shared via link) are not listed in the activity log (or mail notification about activities). However, it would be very useful to have such activities logged as well. Since these users are unknown, information about the IP addresses would be useful.

[2014-11-20 16:05] #175 closed, assigned to nickvergessen

[2014-11-25 23:06] vgezer opened #179 "Activity is always English"
Since some time activity app strings from git-master branch are always in English.

[2014-11-26 10:55] #179 closed, assigned to DeepDiver1975

[2014-11-28 13:48] nickvergessen opened #180 "Use PRIORITY constants from OCP\Activity\IExtension"
owncloud/core#12486

[2014-12-03 16:46] #180 closed, assigned to nobody

[2014-12-08 13:10] michaelstingl opened #185 "activity app don't show activities"
When I go to the activities, I don't get any information. It loads the whole time but I don't get any error message or information. I waited for half an hour but it always only load. I have this problem in all activities expect for "Activities by others", there I have this message: "You will see a list of events here when you start to use your owncloud.".

In the owncloud log file I only get this

[2014-12-09 14:47] nickvergessen opened #187 "Tests fail on master since share merge into master"
[code]

[2014-12-10 12:30] #187 closed, assigned to nobody

[2014-12-11 20:21] brantje opened #195 "Created an activity, doesn't show up in activity's"
I have a simple controller, for sending activity's
See here https://github.com/brantje/passman/blob/angularjs/controller/notificationcontroller.php
I requested the following:
`add?subject=testing&message=hi&type=passman_test&priority=30`
The activity does get added to the database, but doesn't show up in the activity app.
Am i doing something wrong?

[2014-12-12 12:41] MorrisJobke opened #197 "Error - sharing failed"
I want to share a file to a user and got following message: "Sharing failed". Looks like your sharing hook isn't static callable

[code]

[2014-12-12 13:24] #197 closed, assigned to nobody

[2014-12-15 10:31] #195 closed, assigned to nobody

[2014-12-16 08:37] Boellerjoe opened #200 "No activity notification mail after upgrading owncloud"
Hello,

after upgrading my onwcloud to version 7.0.3 respectively 7.0.4 the activity mail function seems to be broken. I have already tried to reconfigure to options without success. Furthermore there is no hint in owncloud logfile that would confirm this problem.

Owncloud mail function is configured correctly, e-mail test has been finished successfully.

### Server configuration
**Operating syst

[2014-12-16 09:59] nickvergessen opened #201 "IExtensions can't trigger email notifications"
They only trigger activities

[2014-12-19 14:59] #155 closed, assigned to nobody

[2014-12-19 15:00] #164 closed, assigned to nobody

[2014-12-21 16:25] kwillems opened #207 "Activity list not necessarily uses theright personal pronoun"
In the activities list it says: 'You created', 'You changed', 'You deleted', and so on.
In cases in which files are manipulated via the API that is not necessary the right personal pronoun. In those cases a file can be created by someone else or by another system (for good understanding: I'm not talking about shares). Using 'you' is confusing in those cases.

'Created', 'Changed' and 'Deleted' (an

[2014-12-22 10:51] #201 closed, assigned to nobody

[2014-12-22 12:16] #207 closed, assigned to nobody

[2014-12-29 17:55] fossxplorer opened #208 "[Feature request] Delete old activities"
Hi,
as far as i know currently there is no way of deleting older activities as a user or an admin.
For bigger oC instances the oc_activity table can get big and will keep getting bigger. After upgrade to oC 7 i noticed oc_activity has grown considerably big and bigger than oc_filecache.
We could for instance delete all the user activities older than, say, 3 months.
Would be very useful instead hav

[2015-01-05 07:37] nickvergessen commented on #208
https://github.com/owncloud/activity/blob/master/lib/backgroundjob/expireactivities.php#L38-L39

[2015-01-05 07:37] #208 closed

[2015-01-05 08:31] nickvergessen commented on #185
@michaelstingl I'm almost clueless here.
Can you try the RSS feature, whether that works for you, so we know whether its JS related or LDAP/User/Whatever related?

[2015-01-05 08:39] nickvergessen commented on #200
If the problem still exists for you, please run the following queries:

[code]

[2015-01-05 08:42] nickvergessen commented on #168
Closing in favor of owncloud/core#11951
This should not be done in the activity app, but the sharing app.

[2015-01-05 08:42] #168 closed

[2015-01-05 08:57] nickvergessen commented on #114
Implementing the ignore/hide feature is not really hard. The question is, what's the best way to add "ignored files/items".
Doing that via the activity itself sounds like the best idea to me, but only works in some cases due to the grouping we perform.

I think a dropdown with the following options could be used:
[code]
For a grouped activity the dropdown needs to be a bit different thou

[2015-01-05 10:20] fossxplorer opened #209 "[Feature request] activity_expire_days based on groups"
Would be very good to be able to delete old activities of users based on groups with different values of activity_expire_days.

@nickvergessen

[2015-01-05 10:43] cdamken commented on #185
Here is the config.php:

[code]

[2015-01-05 10:56] nickvergessen commented on #209
I don't think we want this in the core app.

But you can easily use a new background job to have earlier pruning:
[code]
Afterwards just register it, similar to:
https://github.com/owncloud/activity/blob/master/appinfo/app.php#L47

[2015-01-05 11:02] #209 closed

[2015-01-05 13:22] karlitschek commented on #114
I actually would do it the other way around. Add an option to show only the changes in the favorites

[2015-01-08 12:57] #200 closed

[2015-01-13 12:23] nickvergessen opened #212 "DataResponses from controller/settings.php should not use status attribute"
But instead it should rely on the HTTP status and headers

[2015-01-14 16:09] matthiasfromm opened #214 "Question regarding the activity widget functionality"
Hi all!

I am unsure about the functionality of the activity widget in a user's dashboard. On the website is says:

However that leaves me with an open question who can actually see what activities in my constellation of ownCloud. Here's an example with an admin, 1 super user and 3 other users:

* Admin installs and hosts the ownCloud
* User A creates a "main folder 1" with 2 subfolders ("subfolde

[2015-01-14 16:34] nickvergessen commented on #214
Users see actions (delete, add, modify) that happen to files they have access to.
Sharing actions are only visible the the sharer and sharee.

In your case UserB sees:
* User A shares the "main folder 1" with User B
* User B shares his own folder "User B files" with all other users

However if C does something to "subfolder a", B will get an activity, since it affects his file syncing:
"User C del

[2015-01-14 16:34] #214 closed

[2015-01-14 16:41] matthiasfromm commented on #214
Thanks Joas for such a quick response! That clarifies it, appreciate it!

[2015-01-19 11:33] nickvergessen commented on #185
Closing until further information is given.

[2015-01-22 10:51] codesse opened #217 "notify when uploading a file to a shared folder via url"
Hello,

notify (and activity) works fine when a user uploads/deletes a file to/from her folder, but doesn't do anything if someone who received an url for that folder with upload permissions uploads a file.
I've checked oc_activity and oc_activity_mq to see if something logs there when the latter occurs but it doesn't.

os : Debian 6.0.8
lamp : apache 2.2.16/php5.4.24/mysql5.5.31
oc : 7.0.4

Thank

[2015-01-22 14:42] karlitschek commented on #217
@nickvergessen

[2015-01-27 11:15] DeepDiver1975 commented on #212
@nickvergessen moving this to 8.1 - just FYI - THX

[2015-01-27 13:49] nickvergessen opened #218 "Use JobList service instead of \OC_BackgroundJob"
`\OC::$server->getJobList()`

[2015-01-27 22:44] nickvergessen opened #219 "Server2Server users have broken/wrong avatars and display names"
![activity_-_owncloud_-_2015-01-27_23 43 11](https://cloud.githubusercontent.com/assets/213943/5928830/601c6022-a67e-11e4-9b9c-372096b68aeb.png)

[2015-01-28 16:19] #219 closed

[2015-01-29 18:45] cdamken commented on #185
yes, the error is still here in oC 7.0.4.

@nickvergessen What kind of information do you need?

[2015-01-29 18:47] michaelstingl commented on #185
@cdamken check my SF comment ;-)

[2015-01-29 21:48] nickvergessen commented on #185
Duplicate of https://github.com/owncloud/core/issues/13702
Since this is not specific to the activity app, it should be discussed in the core.

[2015-01-29 21:48] #185 closed

[2015-01-30 22:48] oniled opened #221 "[7.0.4] No Activity Summary e-mails sent (also Activities by Others forever loads)"
### Steps to reproduce
1. Enabled Activity App
2. Logged in as end user who is LDAP authenticated
3. In my end user settings, checked off all Mail notifications
4. Upload a file and share it with a external e-mail address that is not a registered user
5. Go to the Activity tab and confirm the share shows up on the list of activities
6. Click "Activities by Others" and get forever spinning [it is i

[2015-01-30 23:20] nickvergessen commented on #217
Duplicates #177

[2015-01-30 23:20] #217 closed

[2015-02-02 10:28] nickvergessen commented on #221
This is not supported at the moment and has to be fixed in the sharing app itself:
https://github.com/owncloud/core/issues/11951 + #168

I can not reproduce that one.
Can you check the browsers javascript console whether there are any error?

[2015-02-02 16:30] oniled commented on #221
See Javascript console when trying from IE10 + Windows 7 x64

![image](https://cloud.githubusercontent.com/assets/8421682/6004167/a56102ce-aab5-11e4-89e8-c2a225aad90a.png)

This is my javascript console from Chrome 40 + Windows 7 x64

![image](https://cloud.githubusercontent.com/assets/8421682/6004185/cc937818-aab5-11e4-88db-6c190d6b0283.png)

[2015-02-02 17:17] nickvergessen commented on #221
Can you please post the content that is shown in that IE console?
Thanks

[2015-02-02 18:41] oniled commented on #221
IE10 Javascript console doesn't throw any errors.  Everything in the left hand window of that picture is the code of the website.  Everything on the right hand side are the errors thrown - of which there are none.

[2015-02-03 10:20] nickvergessen commented on #221
Can you check the network console of the development tool and post screenshots of that?

[2015-02-03 17:20] oniled commented on #221
Here you go - left it loading for over 6000 seconds.  just seems to continually be fetching activity.

![image](https://cloud.githubusercontent.com/assets/8421682/6025252/dd5e19c0-ab85-11e4-9b82-8295f98ff0c3.png)

[2015-02-03 17:52] nickvergessen commented on #221
Okay thats helpful, can you click on one of those links from the last screnshot and post the page body?

[2015-02-04 16:32] oniled commented on #221
Here's the results after I click on one...

![image](https://cloud.githubusercontent.com/assets/8421682/6044465/47404788-ac48-11e4-972b-a0fd14c41638.png)

![image](https://cloud.githubusercontent.com/assets/8421682/6044467/4ff0f062-ac48-11e4-9299-1bc83b46e116.png)

![image](https://cloud.githubusercontent.com/assets/8421682/6044470/55d96068-ac48-11e4-80a0-b9cf29636e59.png)

![image](https://cloud.

[2015-02-05 09:21] nickvergessen commented on #221
is it possible to get a test account on the installation?

[2015-02-05 14:46] nickvergessen opened #225 "Split activity app from activities"
### Intro
The activity app contains both, the generic logic to store, process and display activities, as well as the activities of the files app.

Similar to the [activity extension of the sharing app](https://github.com/owncloud/core/blob/master/apps/files_sharing/lib/activity.php) the current logic for the sharing, create, delete and other file activities should be done with an activity extensio

[2015-02-05 22:16] oniled commented on #221
Sure.

Username: filextester
Password: Password12345 (note the capital P)

[2015-02-05 23:07] nickvergessen commented on #221
One of your files outputs 4 spaces.
Therefore the body of the response is not empty, so instead of stopping the activity app continues requesting.
You need to find those 4 spaces.

[2015-02-06 10:07] nickvergessen commented on #221
Okay, in the meantime I will try to fix it by stripping away spaces before checking the length for the next request.

[2015-02-06 10:12] #221 closed

[2015-02-06 15:56] oniled commented on #221
Can you clarify a little so I can start looking in the right direction?  Am I looking for a file in the data folder that was being shared that contains 4 spaces?  Doesn't appear to be an error in my theme files - tried turning the theme off temporarily and still get the spinning wheel..

[2015-02-06 16:51] nickvergessen commented on #221
It's not a file in the data folder, but one of the php files, mostlikely apps/activity/template/activities.parts.php,

But you can also try to apply the fix from https://github.com/owncloud/activity/issues/227/files

[2015-02-06 17:33] oniled commented on #221
tried the script.js file but doesn't seem to work for me.  you can connect as the tester account if you'd like to see what it does

![image](https://cloud.githubusercontent.com/assets/8421682/6084117/33a7d294-ade3-11e4-9d54-29fa7f92c744.png)

[2015-02-09 08:23] nickvergessen commented on #221
Try replacing your file with:
https://raw.githubusercontent.com/owncloud/activity/af769e5a97b5787b604ee0305cbe51c768206a68/js/script.js

[2015-02-09 15:15] #218 closed

[2015-02-09 17:12] oniled commented on #221
looking better :)

![image](https://cloud.githubusercontent.com/assets/8421682/6111172/bc756640-b03b-11e4-8178-3600a344a998.png)

[2015-02-12 07:48] Boellerjoe commented on #200
Yes, problem still exists. What does the querie mentioned above do? I´m afraid that I won´t be able to run theese queries. Are there any other possibilities to solve the problem?

[2015-02-12 08:01] nickvergessen commented on #200
The queries just show some values that are important to know, if you want further help

[2015-02-12 08:42] Boellerjoe commented on #200
Ok, I have successfully executed the queries you metioned above.
Got the following values:

1)1423726951
2)1416589569
3)1416521458

[2015-02-12 09:21] nickvergessen commented on #200
Can you try to reupload all files of the activity app?
Seems like the cron job which would send the emails didnt run since november, although other cron jobs did.

[2015-02-12 21:00] Boellerjoe commented on #200
Yes, I can. Can you tell me where I can find these files without installing whole OC again? I'd try to override existing files then.

[2015-02-13 09:33] nickvergessen commented on #200
https://owncloud.org/install/ should help.
Just download the zip, unzip it and and upload the apps/activity/ folder

[2015-02-13 10:41] Boellerjoe commented on #200
Ok, thank you. I tried to update the activity-folder without success. Now my owncloud installtion says that it is updating and will be available in a few minutes again.
Owncloud-Log delivers the follwowing messges:

{"reqId":"54ddd261777f8","app":"PHP","message":"Module 'zip' already loaded at Unknown#0","level":3,"time":"2015-02-13T10:30:57+00:00","method":"GET","url":"\/index.php\/core\/js\/oc.j

[2015-02-13 11:11] nickvergessen commented on #200
Did you download oC 7.0.4, or 8.0.0?

[2015-02-13 11:49] Boellerjoe commented on #200
No not deliberately, I overwrited the activity folder and started my owncloud instance by entering the url.
As a result I got the message that my owncloud version has to be updated and that it will take a while to finish. I assume that this action has been triggered by "version.txt" in appinfo folder.

[2015-02-13 12:12] Boellerjoe commented on #200
I have fixed the error. Whyever the maintenance-mode has been activated in config.php. Owncloud-version still is 7.0.4.

Will try to download activity folder from owncloud.org again now. Download link has been broken up to now.

[2015-02-13 15:26] Boellerjoe commented on #200
I´m unable to download files from owncloud.org because download-links are broken.
I tried to copy activity files (folder) from https://github.com/owncloud/activity instead without success.
E-mail notification still doesn´t work. That is why I decided to copy back the original files I backuped before.

[2015-02-13 18:55] Boellerjoe commented on #200
Ok, now I have successfully updated the activity-folder. I copied files from owncloud.org.
Unfortunately everything stays the same.

[2015-02-16 11:37] nickvergessen commented on #200
Can you run the queries from above again and post the new values?

[2015-02-16 17:42] LukasReschke opened #237 "Use `json_decode` instead of `unserialize`"
`unserialize` can lead to all kind of problems when we suddenly happen to have user input passed to it…

[2015-02-17 07:18] Boellerjoe commented on #200
Sure.....

I assume that nothing has changed except of "lastcron".
1) 1424118148
2) 1416589569
3) 1416521458

[2015-02-17 08:51] nickvergessen commented on #200
And now there is no error in your server and owncloud log?

[2015-02-17 09:05] nickvergessen commented on #200
It would also be interesting to get a list of other entries you have in the jobs table:
[code]

[2015-02-17 09:44] Boellerjoe commented on #200
Ok, there are a lot of entries but only the four jobs mentioned above are running since installation.

OC\Cache\FileGlobalGC					1416521675
OC\BackgroundJob\Legacy\RegularJob 			1416521905
OCA\Activity\BackgroundJob\EmailNotification 	 	1416521458
OC_Calendar_Alarm 					1416521667

[2015-02-17 11:24] nickvergessen commented on #200
Would be nice to get the complete list, since one of them seems to break the cron stuff

[2015-02-17 11:30] Boellerjoe commented on #200
Ok, thats strange. There are 26 jobs callesd "OC\BackgroundJob\Legacy\QueuedJob" with following parameters:

{"app":"search_lucene","klass":"OCA\\Search_Lucene\\Hooks","method":"doIndexFile","parameters":"{\"path\":\"\\\/Shared\\\/Dokumente LZ-Rupp\\\/Jobb\\u00f6rse\\\/Stadt Gummersbach.pdf\",\"user\":\"fuehrung\"}"}

[2015-02-17 11:40] nickvergessen commented on #200
What are the last_run times on them? or is it empty?

[2015-02-17 11:42] Boellerjoe commented on #200
Last run time of all 26 items is "0".

[2015-02-17 12:01] nickvergessen commented on #200
Okay, can you create a backup from the table and then remove all those QueuedJob entries, that have `"app":"search_lucene"` in them?

I assume they are broken and run again and again, so no other cron job is executed.
If that solves the issue, please open a new issue in the search repo: https://github.com/owncloud/search_lucene/issues

[2015-02-17 12:30] Boellerjoe commented on #200
Ok, I have deleted all theese entries. I forgot to switch the view. There have been about 599 jobs.
Hope that this will solve my problem. I have already uploaded a new file und will check if it works.

[2015-02-17 14:23] Boellerjoe commented on #200
Hm, seems as if there would be another problem. Uploaded a test an hour ago but still got no mail.
The activity-job seems to be frozen.
OCA\Activity\BackgroundJob\ExpireActivities 	null 	0

[2015-02-17 14:25] nickvergessen commented on #200
ExpireActivities is another thing, `OCA\Activity\BackgroundJob\EmailNotification` is what sends the emails.
Can you run the queries from https://github.com/owncloud/activity/issues/200#issuecomment-68680450 again?

[2015-02-17 14:47] Boellerjoe commented on #200
1) 1424180170
2) 1416589569
3) 1416521458

[2015-02-17 15:24] nickvergessen commented on #200
What does
[code]
say?

[2015-02-17 15:31] Boellerjoe commented on #200
OC\Cache\FileGlobalGC 	1416521675
OC\BackgroundJob\Legacy\RegularJob 	1416521905
OCA\Activity\BackgroundJob\EmailNotification 	1416521458
OC_Calendar_Alarm 	1416521667
OCA\Activity\BackgroundJob\ExpireActivities 	0

[2015-02-17 16:41] #237 closed

[2015-02-18 07:04] Boellerjoe commented on #200
Hi, it seems as if clearing the whole oc_jobs table would have solved the problem. I´ve already received an email with old activity notifications ;)

[2015-02-18 14:27] #225 closed

[2015-02-25 14:57] kalletabur commented on #145
These notifications are sent when I share file/folder and fill checkbox "notify by mail".
These notification are in language I (meaning sharer) have set up for myself over web interface.
We are using ownCloud 7.0.4.

[2015-02-25 15:10] nickvergessen commented on #145
That is not the activity app, but the files_sharing app in core

[2015-02-25 20:32] enoch85 commented on #145
@nickvergessen I still have the same issue on oC 8.

![screenshot_2015-02-24-14-56-05](https://cloud.githubusercontent.com/assets/4511254/6379878/c2f00fdc-bd35-11e4-8d6e-2d00d5c1ae34.png)

[2015-02-25 23:32] nickvergessen commented on #145
??

[2015-02-26 01:17] enoch85 commented on #145
@nickvergessen Yes, same issue as https://github.com/owncloud/core/issues/10859

The issue persists in ownCloud 8.

[2015-02-26 15:50] #212 closed

[2015-03-02 16:36] nickvergessen commented on #145
Jup, found the issue :see_no_evil:

[2015-03-03 17:36] nickvergessen commented on #145
Fixed in 8.1
Im not sure whether we can get the BC break backported, but maybe you can ask for it, or fix it locally on your end

[2015-03-03 17:36] #145 closed

[2015-03-03 19:16] enoch85 commented on #145
Thanks!

[2015-03-04 12:40] nickvergessen opened #249 "Should use nodes API instead of View"
As per https://github.com/owncloud/core/issues/12471#issuecomment-66495484

[2015-03-05 15:12] shoeper opened #250 "Email notifications for files shared by myself"
**Actual behaviour**: I get email notification for files I've shared via link. I did not select "inform about activities done by myself" (Über Ihre eigenen Aktivitäten via E-Mail benachrichtigen).

**Expected behaviour**: Because I did not select "inform about activities done by myself" I don't get any notifications for files I've shared.

**Steps to reproduce**:
1. Enable notifications for sharin

[2015-03-11 16:22] #250 closed

[2015-03-13 09:50] nickvergessen opened #254 "255 characters is too short for subject and message parameters"
Most activities contain a uid + filepath as subject parameters.
The uid is 64 characters as per `oc_users`.`uid`
File path is `oc_filecache`.`name` (250) + `oc_filecache`.`path` (4000), so 4250 characters in worst case.

However the planned move/rename activity might have 2 file paths in max length, so I think we should change the column from VAR(255) to TEXT, to avoid problems with apps.

The exi

[2015-03-13 20:21] mckaygerhard opened #256 "crash error loading when disabling image avatars of users"
if setup in config "enable_avatars" to false, the activity app could not load due following javascrip error:

[code]

so then the option must parse and revised to oc v 6 , oc v 7 and oc v 8, the script assumed that the avatar element are always present!!! and this are configurable!

must put a conditional here!

[2015-03-13 21:22] mckaygerhard commented on #256
confirmed that this still happened in oc 8 and also lasted oc 7, causes activity app crash when disabling avatars to false.

solved if put firts
if ( typeof element.avatar == 'function' )

before 	https://github.com/owncloud/activity/blob/master/js/script.js#L115

[2015-03-14 08:22] nickvergessen commented on #256
Oh, I didn't know it can be disabled. Thanks for reporting

[2015-03-16 08:44] nickvergessen commented on #256
8.1: #257
8.0: #258
7.0: #259

[2015-03-16 13:51] mckaygerhard commented on #256
error.. well, i think of with a simple typeof to the object for verify if function exists could fix but this commit are very large.. if someone reports that works well close the issue, i cant verify that due i not update the oc deploy, when changes are too many rather that few lines, and redeploy again a test environment with all my changes are very tired

[2015-03-16 14:19] nickvergessen commented on #256
Well yes, that "would" have worked aswell. But I fixed the reason, rather then the symptom.
Instead of create the avatar placeholder and then not processing js on it, I just dont add the placeholder, so we dont need to process anything at all.

[2015-03-16 14:53] mckaygerhard commented on #256
that's right! close it!

[2015-03-16 15:01] nickvergessen commented on #256
reopening until the PRs are merged ;)

[2015-03-17 10:22] #256 closed

[2015-03-19 14:15] jancborchardt opened #262 "Notifications of deleted files have wrong link target"
The notifications for file deletions, like

link the file wrongly. They point to the files app, with a scrollto to the document’s original position. Instead, it should point to the deleted files section.

@nickvergessen

[2015-03-19 14:18] jancborchardt opened #263 "Grouping of same share activity"
When I share one folder via link, then uncheck the share link box, then check it again – I will end up with 2 notifications saying I shared the folder.

If the same action happens directly after each other and it’s inbetween a certain timeframe (let’s say a minute or five), there should only be one event.

@nickvergessen

[2015-03-20 08:02] nickvergessen commented on #262
The problem with this is, that the files app triggers the notification, and not the files trashbin. Since we want to avoid inner app dependencies, the files app can not simply link to the trashbin. Also the file might not even be in the trashbin.

I agree that it is bad UX atm. Maybe we should just not link anywhere at all for the delete event.

[2015-03-20 08:56] nickvergessen opened #264 "Grouping by username does not use display names"
Foudn this while working on https://github.com/owncloud/core/pull/15055

[2015-03-20 10:37] jancborchardt commented on #262
Hm .. for a delete event, restoring a file is important though. Can't we find a way to correctly link it or make it more useful?
Like - when the deleted files app is installed, correctly link it. If not, don't have it linked.

cc @schiesbn

[2015-03-20 15:16] #264 closed

[2015-03-20 15:19] nickvergessen commented on #262
We could try and ask the IExtensions whether they know the parameter type and then we rename the parameter type on the delete activities from "file" to "deletedfile".
Then the trashbin can register an IExtension and do the magic to link to the trashbin and if it is not enabled, we will just do the normal markup stuff (bold, without linking)

[2015-03-22 21:13] y-a-v-a commented on #254
+1
I noticed this when migrating from sqlite to pgsql. I had to drop my database, modify the database.xml schema by hand (enlarged some values to 2048) and reran the db migration script. My impression is that it works nicely now.

[2015-03-23 14:49] nickvergessen opened #267 "Activity email can potentially get infinite long"
Should we trim the text after ~200 entries or something like that?

[2015-03-24 19:23] #263 closed

[2015-03-24 21:24] deMattin opened #270 "RSS feed error in ownCloud log (modify header)"
I activated the activity rss link to be notified by rss.
To fetch all my rss feeds I use TinyTinyRSS.

Every time my TT-RSS calls owncloud rss feed, I get the following 6 errors in owncloud log:

(line numbers in error log are: 282, 283, 284, 287, 288, 289)

If I use rss feed call `https://[domain]/owncloud/index.php/apps/activity/rss.php?token=kasdhfkhkasdkasdf123token` in a browser (IE11) **with

[2015-03-24 21:51] nickvergessen commented on #270
@LukasReschke maybe we can have a look together at this next week

[2015-03-24 21:55] deMattin commented on #270
Ok, should I remind you or do you set it on your todo for next week and review this, if your time allows it?

[2015-03-25 15:51] jancborchardt opened #272 "When multiple files/folders are grouped into one message, show multiple icons/thumbnails"
Currently every action just has one icon or thumbnail. That way it always looks as if you just modified one thing.

Instead, when there were for example 7 images uploaded, it should show the thumbnails of those images. For the text above we have a limit of 5, after that it shows `and x more …`, so we can also cut off after the first 5 thumbnails and show a dot-dot-dot next to that.

cc @nickverges

[2015-03-27 08:59] JacekZ opened #274 "infinity loading of activities"
Hello,

I've noticed the problem with acitivity apps. On activity app page I always get infinity page loading. Disabling of "A file or folder has been shared" (stream) option in personal settings is a partial workaround of that problem, after that activity app seems to work well (according to personal settings).

### Steps to reproduce
1. Activate activity app
2. In personal settings check stream

[2015-03-27 09:12] nickvergessen commented on #274
Well there are several things that can cause this and they may even look unrelated.

Can you have a look whether https://github.com/owncloud/activity/commit/549b8908b4a22cacb98685c85b5564c4f7c5eb13 is part for your installation?
Basically check for `data.trim().length` in your `apps/activity/js/script.js`

Other then that I can not reproduce anything like that.

[2015-03-27 10:04] JacekZ commented on #274
Yes, https://github.com/owncloud/activity/commit/549b8908b4a22cacb98685c85b5564c4f7c5eb13 is included in my instalation.

I suspect my problem is related to upgrading process of OC. As you said, its not major and usual problem. I'll try fresh install.

What more info can I provide to you?

[2015-03-27 10:31] nickvergessen commented on #274
if you could send me the result of the following query, then I could try to find out:
[code]

[2015-03-27 11:33] JacekZ commented on #274
I share folder "/cat" with user "admin"
[code]

[2015-03-27 13:31] JacekZ commented on #274
On fresh install 7.0.5 (activity app works ok) user "admin" shared folder "music" with user "jacek":
[code]
Columns "user","affecteduser", and "subject" differ :\

Here user "admin" and "jacek" are local user - not from ldap.

[2015-03-27 14:09] JacekZ commented on #274
I have installed fresh Oc 7.0.5 on the same server, configured ldap backend and everything works fine. I compared "oc_activity" content from both installations - no differ :\

[2015-03-27 23:19] JacekZ commented on #274
ok, I've found it. The point of the matter was "enable_avatars" option in "config.php". In my installation it's set to "false". if i set it to "true" activity app starts work.
Alternative way is to comment out some lines in "/activity/js/script.js":
[code]
I know its only workaround but my poor js knowledge doesn't allow me to fix it :\

[2015-03-28 06:38] nickvergessen commented on #274
https://github.com/owncloud/activity/issues/256

[2015-03-28 06:38] #274 closed

[2015-03-30 12:40] #267 closed

[2015-03-30 12:40] #254 closed

[2015-03-31 11:03] jiujiu opened #278 "Customise RSS and JSON output"
Dear all,

First of all the code we use in stable on branch stable7.

Then I would like to know what is the best practices / hints to customise the file rss.php in order to accept parameter filter=self and a specific number of results.

Finally I wonder if we need something specific in order to create the same result in JSON?

Sincerely yours,

Julien

[2015-03-31 11:16] karlitschek commented on #278
Thanks for your question. This is the owncloud bugtracker. Because this is not a bug I suggest that you ask the question in the owncloud forum or on the mailinglist. Thanks.

[2015-03-31 11:16] #278 closed

[2015-04-04 09:07] deMattin commented on #270
Did you already have the chance to have a look at it?

[2015-04-09 06:07] nickvergessen opened #279 "Travis fails because of new encryption app"
We disabled the old one on running tests, need to fix the name

[2015-04-09 07:39] DeepDiver1975 commented on #279
or leave it enabled :speak_no_evil:

[2015-04-09 08:32] nickvergessen commented on #279
https://github.com/owncloud/core/pull/15496 here we go :see_no_evil:

[2015-04-09 12:45] #279 closed

[2015-04-15 09:49] michaelstingl commented on #185
Customer wrote:

[2015-04-15 09:52] nickvergessen commented on #185
Well that is just symptom not the root cause. If you scroll all the way down it would still have the problem. Anyway, updating should solve it, once we released

[2015-04-17 18:16] jnfrmarks opened #282 "activity app does not pass occ app:check-code"
### Steps to reproduce

1. Install 8.1 enterprise
2. invoke occ app:check-code

### Expected behaviour

The app passes the check

### Actual behaviour

The app fails the check:

[code]
### Server configuration

Ubuntu 14.04
PHP 5.5.9
ownCloud Enterprise Edition 8.1 alpha 1 (daily) Build:2015-04-16T03:08:13+00:00 f50798a674bf223e1c8015b9a27287b2ac6c9f1a

[2015-04-17 18:27] nickvergessen commented on #282
Yes, but it's mostly the tests and FilesView.
FilesView will be dealt with in #249 for 8.2, the tests don't matter too much.

Will look at the other stuff soon

[2015-04-20 11:55] kalletabur commented on #145
Tested this again on "ownCloud 8.0.2 (stable)" and still these emails are displayed in the language of the user, who triggered the email, rather then the recipient.
Recipient uses english, sharer used 3 different languages and recipient got all these notifications in different language.

[2015-04-20 12:51] nickvergessen commented on #145
@kalletabur well it will be fixed in 8.1:

Im not sure whether we can get the BC break backported, but maybe you can ask for it, or fix it locally on your end

[2015-04-21 10:31] kalletabur commented on #145
Sorry, I thought that by 8.1 was meant 8.0.1. In oC 7 version numbering was 7.0.something.

[2015-04-21 10:48] nickvergessen commented on #145
8.1 is 8.1.0 :wink: sorry ;)

[2015-04-21 11:04] kalletabur commented on #145
np :)

[2015-04-21 14:05] #282 closed

[2015-04-23 08:20] tibmanus opened #284 "File and folder location is wrong at shared external folders"
### Steps to reproduce
1. Admin user mounts a local folder as an external storage. (Folder name: Localhhh)
2. Admin user creates a folder inside this folder (Folder name: external), then shares it with 'testuser'.
3. Testuser creates a file in this folder (Name: file1).
4. Testuser checks the Activity app: "You created file1"

### Expected behaviour
Tooltip and link shows the correct location for

[2015-04-23 12:56] karlitschek commented on #284
@nickvergessen

[2015-04-23 14:17] nickvergessen commented on #284
Can't reproduce with SFTP mount, and local is not working here atm.
Can you test whether it affects SFTP mounts at your site aswell?

[2015-04-24 09:54] tibmanus commented on #284
Can't test SFTP, sorry.

[2015-04-24 10:47] nickvergessen commented on #284
Okay, confirmed, it's an issue in core thou. Will reopen the ticket there

[2015-04-24 10:47] #284 closed

[2015-04-24 10:53] nickvergessen commented on #284
Replaced by https://github.com/owncloud/core/issues/15858

[2015-04-24 12:53] nickvergessen commented on #282
Tests have been excluded now https://github.com/owncloud/core/pull/15838 so the activity app passes again

[2015-04-24 13:28] LukasReschke commented on #270
Cannot reproduce locally on stable8. Which apps do you have all enabled and could you provide us with your config? THX.

[2015-04-24 13:55] nickvergessen commented on #270
Please also tell us the language/theme/... your instance uses

[2015-04-24 16:51] deMattin commented on #270
Owncloud: 8.0.2-8 (suse repository)
Language: German
Theme: Tested both (with and without own theming)
Installed apps: files, activities, gallery+, rainloop mail, contacts, calendar, bookmarks, external apps

config:
`<?php
$CONFIG = array (
  'asset-pipeline.enabled' => false,
  'instanceid' => 'oc123blablablub',
  'passwordsalt' => '26blablablubblablablub1234123',
  'trusted_domains' =>
  array

[2015-04-28 11:50] LukasReschke opened #287 "Searching in activity view shows second "No results""
![2015-04-28_13-49-02](https://cloud.githubusercontent.com/assets/878997/7368941/809f5d4c-edad-11e4-9d43-4706598af1af.png)

@nickvergessen Any idea how to fix this? – This is on one of the latest EE 8.0.3 build

[2015-04-28 11:50] LukasReschke commented on #287
Or is this expected? – Looks a little bit off though.

cc @jancborchardt

[2015-04-28 13:08] nickvergessen commented on #287
problem with the core

[2015-04-28 13:08] #287 closed

[2015-04-29 13:14] nickvergessen commented on #270
Can you try to view the page source when visiting it with the error?

[2015-04-29 15:31] deMattin commented on #270
Are you referring the page source of rss feed?
There everything seems to be fine:
`https://sub.domain.tld/owncloud/index.php/apps/activity/rss.php?token=123456TokenVonOCVorgegeben7890`

Source of call with chrome with active login cookie:
[code]
Source of call with ie11 without active login cookie (producing error in log) -> looks equal:
[code]
Activity page in oC itself gives no errors in Browser

[2015-05-04 10:39] jancborchardt opened #288 "Log errors on fresh installation / activity shows in favorite section even though there are no favorites yet"
@nickvergessen on a fresh new installation from 8.1 alpha 2 I get these errors in the log when using Activity:
[code]

Also, the normal actions show in the »Favorites« section even though there are no Favorites yet.

[2015-05-04 11:03] nickvergessen commented on #288
@jancborchardt please report this in core:
[code]

[2015-05-04 11:18] nickvergessen commented on #288
The other issue will be dealt with in a core PR

[2015-05-04 11:32] jancborchardt commented on #288
Ok, filed it as https://github.com/owncloud/core/issues/16039

[2015-05-04 12:47] nickvergessen commented on #288
Fix for the exception is at https://github.com/owncloud/core/pull/16043

[2015-05-04 14:26] nickvergessen commented on #288
The exception is just logged in case of debug, so that is fine

[2015-05-04 14:26] #288 closed

[2015-05-04 14:53] jancborchardt commented on #288
Wait – even on debug level, why is this a message? If the category does not exist that’s not a problem, that’s normal on new installations.

[2015-05-04 14:56] nickvergessen commented on #288
Because debug does not mean problem it's a problem:
we also log emails that are being sent when debug is on. Basically debug means: spam my log file with all the things that might be of any interest.

[2015-05-05 09:36] axllent opened #289 "Exclude your own actions in the RSS activity feed"
It does not seem possible to filter **out** (exclude) your own activities in the RSS activity feed. I would assume that by unticking "List your own actions in the stream" one would get only other's activities, yet this seems to have no effect (I still see "You created...", "You deleted...", "You changed....."). I've just upgraded to 8.0.3 but still no difference.

What I am trying to achieve is ge

[2015-05-05 10:05] nickvergessen commented on #289
`List your own actions in the stream` works for me.
Which ownCloud and Activity version are you using?

[2015-05-05 18:45] axllent commented on #289
Currently using Activity v1.2.0. I've had this issue since I installed owncloud (early 7 release). Initially I just kept getting emails of my own actions so I stopped using it, figuring it was a bug, but it's still does the same now, so... :-)

Please let me know if you need any more info. I'm an administrator on the server (it is a small production server though).

[2015-05-05 20:11] nickvergessen commented on #289
Well then this got fixed in the mean time. You may try to update to ownCloud 8 with a newer version of the activity app.
If the issue then still exists for you, feel free to reopen the issue.

[2015-05-05 20:37] axllent commented on #289
Sorry for the misunderstanding. As per my initial post, this is on ownCloud 8.0.3, but this issue has existed since early 7 releases.

[2015-05-06 06:45] nickvergessen commented on #289
Right, I just realised that we didn't backport two lines, sorry will be fixed in 8.0.4 then

[2015-05-06 07:13] axllent commented on #289
Super, thanks! So I take it this is a known issue then, and not that my installation is borked or something?

[2015-05-06 07:15] nickvergessen commented on #289
Yeah, you can apply https://github.com/owncloud/activity/pull/291/files to fix the issue on your installation, until the next release is out

[2015-05-06 07:38] axllent commented on #289
Awesome, I can confirm the patch fixes it! Thanks for the update.

[2015-05-06 09:17] axllent commented on #289
For what it's worth (although it may have a separate patch), email notifications still report one's own actions despite `Notify about your own actions via email` being unticked :) RSS works as expected though with the patch. Hope this helps!

[2015-05-06 10:21] nickvergessen commented on #289
Sorry to say, but the email settings do not work retro-active atm.
So when the notification was triggered before you changed the setting, you will still get the email notification for it.

[2015-05-07 07:09] axllent commented on #289
Unfortunately that doesn't seem to be the case here - I continued to get several email notifications today with my own actions **after** ticking and then unticking `Notify about your own actions via email ` (to make sure the setting was unset this morning). Anyway, RSS works as expected :)

[2015-05-08 15:49] enoch85 opened #292 "Seperate file and folder in activity notifications"
### Steps to reproduce
1. Share a folder with files in it.
2. Download a file in that folder.

### Expected behavior
It should be the file that shows as downloaded.

### Actual behavior
The folder shows as downloaded.

### Server
8.0.3

[2015-05-09 06:35] Psy-Virus opened #293 "Changing navigation.php to match files-app css class .active"
Hey there,

I was theming my owncloud the last days and there's one thing where I stuck. Pictures are worth than a thousand words, so:

How it should be
![files](https://cloud.githubusercontent.com/assets/6222200/7548996/81aafea6-f624-11e4-903d-295c45c906dc.png)

How it is
![activities](https://cloud.githubusercontent.com/assets/6222200/7549003/97bc4a1a-f624-11e4-93a6-af29058b63c7.png)

You see on

[2015-05-11 08:24] nickvergessen commented on #292
https://github.com/owncloud/core/pull/15502 8.0.4 / 8.1

[2015-05-11 09:40] enoch85 commented on #292
@nickvergessen So you mean that you already fixed this in a PR that's older than this issue?

[2015-05-11 10:43] nickvergessen commented on #292
Yes, but the PR was merged after the release of 8.0.3

[2015-05-11 11:21] enoch85 commented on #292
@nickvergessen So in other words - this should work already? Well, it doesn't.

[2015-05-11 13:00] #292 closed

[2015-05-11 13:01] nickvergessen commented on #292
No, it works on master and stable8, but not in 8.0.3, because the fix was merged after the release of 8.0.3

[2015-05-12 08:09] #293 closed

[2015-05-12 08:10] #289 closed

[2015-05-12 08:29] DeepDiver1975 commented on #105
already implemented via web_hooks - https://github.com/owncloud/web_hooks/wiki/Events-and-topics#event-quota

[2015-05-12 13:55] nickvergessen commented on #289
@axllent feel free to try https://github.com/owncloud/activity/issues/297

[2015-05-12 15:39] jnfrmarks commented on #103
@schiesbn

I don't see downloaded files in my activity stream.

Testing with:

ownCloud Enterprise Edition 8.1 beta 1 (daily) Build:2015-05-12T03:08:46+00:00 20d2d8d3ddee2750343bdec69a3e7031b710039a

[2015-05-12 15:54] nickvergessen commented on #103
Note: this only works for public link shares. Just tested again and it works here:
![download-public-link](https://cloud.githubusercontent.com/assets/213943/7591745/da19d4ba-f8cf-11e4-966d-16ff8f6d214d.png)

[2015-05-12 16:01] jnfrmarks commented on #103
@nickvergessen

What is the expected behavior when downloading a file/folder?  Should the download show up in the activity stream?

[2015-05-12 16:38] jnfrmarks opened #298 "Error opening stream messages in log file"
### Steps to reproduce

1. Install 8.1
2. Log in and navigate to the activity stream

### Expected behaviour

No messages in the log file

### Actual behaviour

Get the following error:

[code]

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server configuration:

ownCloud Enterprise Edition 8.1 beta 1 (daily) Build:2015-05-12T03:08:46+00:00 20d2d8d3ddee2750343bdec69a3e7031b710039a

[2015-05-12 16:50] jnfrmarks opened #299 "Activity for federated sharing"
I thought I entered this someplace or that I saw this someplace but I can't seem to locate it.

### Steps to reproduce

1. Install 8.1 on two systems
2. from system 1, share a file with a user on system 2

### Expected behaviour

Should see the share on the activity stream

### Actual behaviour

Do not see the share on the activity stream

### Server Host info:

Ubuntu 14.04
PHP 5.5.9

### Server

[2015-05-12 22:04] axllent commented on #289
Excellent, the patch seems to fix it (I'm not receiving notifications of my own actions via email, yay)! Good work, thanks for the follow-up.

[2015-05-13 00:10] karlitschek commented on #299
@schiesbn

[2015-05-13 00:13] karlitschek commented on #298
@nickvergessen  can you have a look?

[2015-05-13 06:15] nickvergessen commented on #298
https://github.com/owncloud/core/issues/16039

[2015-05-13 06:15] #298 closed

[2015-05-13 06:16] nickvergessen commented on #298
This is a core issue

[2015-05-13 06:17] nickvergessen commented on #103
@jnfrmarks
If a file is shared as public link and then someone downloads it via the button (not only visits the public sharing page), the notification from my screenshot is created.

[2015-05-13 06:17] #103 closed

[2015-05-13 06:23] nickvergessen commented on #299
Seems like it currently only adds an activity when the share is accepted or received:
![remote-sharing](https://cloud.githubusercontent.com/assets/213943/7604864/29d5b4f0-f949-11e4-8aac-47864c23d105.png)

Will do a follow up to add the "You shared ..." notification aswell

[2015-05-13 19:55] enoch85 opened #301 "Add IP adress as information on downloaded folders and files"
If it's possible it would be very cool if you could see the IP adress of the ones who download a shared link in the activity feed. Maybe like a tooltip or something.

What do you think @nickvergessen is that possible?

[2015-05-15 08:05] nickvergessen commented on #301
Duplicates/related to https://github.com/owncloud/activity/issues/177

[2015-05-15 09:59] enoch85 commented on #301
Keeping the discussion there then.

[2015-05-15 09:59] #301 closed

[2015-05-20 09:39] MorrisJobke commented on #270
@LukasReschke @nickvergessen What is the state of this?

[2015-05-22 08:33] jancborchardt opened #302 "Settings improvements"
@nickvergessen how about this?
![capture du 2015-05-22 10 31 47](https://cloud.githubusercontent.com/assets/925062/7766861/d6e7ed40-006d-11e5-8fe3-92e028304ead.png)
* [ ] Disable »Mail« checkbox in activity settings for limiting to favorites, since it’s only available in stream.
* [ ] Put »Include your own activities« in the proper list with checkbox for both mail & stream, only stream being defau

[2015-05-22 09:58] nickvergessen commented on #302
Good idea, will be a bit hacky, but doable

[2015-05-22 10:32] jancborchardt commented on #302
Cool, thanks!

[2015-06-11 10:09] jancborchardt commented on #299
I have a similar issue where the activity does not show the name of the person, only `remote user`:
![activity remote user](https://cloud.githubusercontent.com/assets/925062/8104649/b69aed2e-1032-11e5-9925-68a9b2e95b5a.png)
cc @nickvergessen @schiesbn

[2015-06-11 10:13] jancborchardt opened #305 "Ability to search inside activities"
Similar to the Files app, and Apps managemet it should be possible to search through the activities in the Activity app.

For example, you search for »IMG_« all activities for images with that name are shown. Or »music« and all music activities are shown. Or »deleted« / »deletion« / »remove« and all removals are shown.

@nickvergessen

[2015-06-11 10:17] nickvergessen commented on #299
@jancborchardt that is a problem with core, we have an empty name in the session for "guest" users, nothing we can do about it.

[2015-06-11 10:32] jancborchardt commented on #299
Well we could say `A guest` in that case :)

[2015-06-11 12:33] nickvergessen commented on #299
Well there are no such things as "guests", so I abstained from introducing a new word for them and used what is already known.
We could easily change the word in https://github.com/owncloud/activity/blob/master/lib/parameterhelper.php#L169-L171, but I'd like to not break translations so close to a release.

[2015-06-11 13:03] jancborchardt commented on #299
Ok, ok. In the future though keep in mind to let me know about stuff like that. And in no case do we use " quote marks anywhere – just write the name out.

[2015-06-24 09:07] enricocanino opened #309 "The oc_activity table is not cleaned as defined in config.php, after 14 days in my case"
Hi all, I have the following configuration:
-owncloud server 8.0.3.4
-dbtype mysql
-activity_expire_days 14
-webcron that works fine every 15 minutes
-about 60 users
-about 1'100'000 files in data directory in total 70 GB
-about 1 GB of mysql

The problem is that oc_activity table is not cleaned as defined in config.php, after 14 days.

The value activity_expire_days, at the installation time, was

[2015-06-24 09:19] nickvergessen commented on #309
Please run the following queries on your database, to help find out if that is the issue:
[code]
and
[code]

[2015-06-24 09:32] enricocanino commented on #309
oc_jobs contains only 3 record as you can see in screenshot.jpg
![screenshot](https://cloud.githubusercontent.com/assets/12700982/8326905/b6cfe204-1a64-11e5-9b71-d89a665c18e8.jpg)

[2015-06-24 10:10] nickvergessen commented on #309
Okay, looks like the job was executed the last time "Tuesday, 23-Jun-15 12:21:03 UTC"

If that was before you changed the setting, it should be run in ~2 hours again (its only run all 24hours). If that does not help, then please post your config.php (with removed passwords, salts and domains) here, like mentioned in the issue template: https://raw.githubusercontent.com/owncloud/core/master/issue_t

[2015-06-24 10:13] jospoortvliet opened #310 "clicking a document in the root opens it like a folder"
clicking a document in the root creates a weird situation... See this video below!
![bug](https://cloud.githubusercontent.com/assets/551757/8327522/69493544-1a69-11e5-9d7d-dc42c1c30591.gif)

# steps to reproduce
1. go to Activity app
2. click a document residing in the /
3. watch how it is treated as a folder

This happens on daily oC 8.1 snapshot from yesterday, apache, Linux, MariaDB.

Possibly

[2015-06-24 13:07] enricocanino commented on #309
### Steps to reproduce
1. Have a lot of records in oc_activity
2. Modify activity_expire_days from default to 14 (days) in config.php

### Expected behaviour
oc_activity table must decrease number of records after 24 hours
oc_jobs havew this entry: OCA\Activity\BackgroundJob\ExpireActivities 1435062063 and apperas to be older than 24 hours

### Actual behaviour
oc_activity table does not decrease

[2015-06-24 13:33] nickvergessen commented on #309
Can you run these two:
[code]
[code]

[2015-06-24 13:35] enricocanino commented on #309
First query result: 689016
Second query result: 627270

[2015-06-24 13:39] enricocanino commented on #309
JUST NOW:
in oc_jobs OCA\Activity\BackgroundJob\ExpireActivities chenged value to: 1435152962
and in oc_activity number of records was decreased.

Means that needs 25 and not 24 hours?

[2015-06-24 13:44] nickvergessen commented on #309
Okay, can you try the following:

in app/activity/lib/data.php
find:
[code]
replace with
[code]

[code]

and then run your cron, until the expire job does not have last_run set to 0 anymore.
Then please check the owncloud.log file for information.

[2015-06-24 13:47] nickvergessen commented on #309
Well the job is queued 24hours after the last run, but when no cron is executed, it may take a while longer.

[2015-06-24 13:47] nickvergessen commented on #309
But glad it's fixed.

[2015-06-24 13:47] #309 closed

[2015-06-24 13:49] enricocanino commented on #309
Thanks a lot.

:-)

[2015-06-25 10:28] #310 closed

[2015-06-27 09:01] jancborchardt opened #314 "Sharing activity with deleted user"
When there was sharing activity with someone in the past, and that person got their account deleted: Should we still show sharing activity with that person, or not?

It just confused me stumbling over this, and I would have expected it not to show since the user does not exist anymore. (At least the activity should be marked as hidden in case the user is restored, or whatnot.) @nickvergessen @ownc

[2015-06-27 09:24] nickvergessen commented on #314
Well the problem is that the current system does not allow easy detection of such activities. Also it might be useful to see what items you shared with someone, in terms of which information has been leaked.

[2015-07-01 08:12] nickvergessen opened #320 "Activity app in app store?"
I need a little help on the decision here. Currently the activity app has a ocsid entry in the info.xml:
https://github.com/owncloud/activity/blob/master/appinfo/info.xml#L22
all the way down to stable7
https://github.com/owncloud/activity/blob/stable7/appinfo/info.xml#L16

However, in the app store there was only a dummy, so if it would have been used to update the app, it would have killed itsel

[2015-07-01 14:20] karlitschek commented on #320
Great point. So in the past we had the idea that it makes sense to be able to push a new version of a shipped app via the app store to replace the originally shipped app like activity.
Nowadays I think this was a stupid idea and I'm also not sure if this feature still works.
My personal opinion is that we should remove this from the shipped app and kill the feature.

[2015-07-01 14:23] nickvergessen commented on #320
Okay, I will then go ahead and remove the ocsid from all stable branches and master of the activity app.

[2015-07-02 07:04] LukasReschke commented on #320
I created PRs for all other applications. Please review as well.

[2015-07-02 07:11] LukasReschke commented on #320
Ah and because somebody thought it would be a good idea to store the OCSID also in the DB but not automatically get a new one if the application has another one in appinfo.xml when updating we also need some other changes. Awesome :rocket:

[2015-07-02 07:29] LukasReschke commented on #320
Master: https://github.com/owncloud/core/pull/17316
8.1: https://github.com/owncloud/core/pull/17317
8: https://github.com/owncloud/core/pull/17318
7: https://github.com/owncloud/core/pull/17319

[2015-07-02 07:32] LukasReschke commented on #320
@nickvergessen Also requires to bump the version and my PRs against master to work reliably.

[2015-07-02 08:43] #320 closed

[2015-07-02 13:15] LukasReschke commented on #270
Still cannot reproduce. As discussed please file a new issue (or reopen) if this persists in 8.1 – strange issue… :speak_no_evil:

[2015-07-02 13:15] #270 closed

[2015-07-03 22:18] jancborchardt opened #329 "File type icons are blurry cause they do not use SVG"
You can easily see this when zoomed, or when using a smartphone:
![capture du 2015-07-04 00-17-06](https://cloud.githubusercontent.com/assets/925062/8505278/169492be-21e2-11e5-8f20-8b99f9677c92.png)

@nickvergessen @georgehrke

[2015-07-03 22:26] jancborchardt opened #330 "Icons for the sidebar"
We should have icons for the sidebar just like in Files. I can’t fix this myself cause the entries are generated via a loop. @nickvergessen can you add classes to the `<a>` elements (_not_ the `<li>`s) like this:
* All activites: nav-icon-activity
* Your activity: nav-icon-yours
* Activity of others: nav-icon-others
* Favorites: nav-icon-favorites
* Shares: nav-icon-sharing

If you open a PR with

[2015-07-03 23:10] nickvergessen commented on #330
8.1 is already done, 8.1.1 or 8.2, sorry bro

[2015-07-04 07:05] nickvergessen commented on #330
Since it will be odd to do something like this in a minor release (we need to extend the public api) I'd say "sorry that we missed it, 8.2 will have it"

[2015-07-04 07:56] jancborchardt commented on #330
Ok, works.

[2015-07-09 08:00] deMattin commented on #270
I updated from 8.04 to 8.1 yesterday and don't see this errors any more.
Whatever problem has caused the errors, it seems to be fixed in 8.1.

[2015-07-13 06:09] MorrisJobke commented on #177
@nickvergessen Was also requested in core by @gig13 owncloud/core#17573

[2015-07-15 06:47] nickvergessen commented on #177
Yeah, will have a look again, but iirc that is a core issue in the end. Let me check

[2015-07-15 14:18] gig13 commented on #177
@cmonteroluque @bboule
From my perspective this is not an enhancement, but a bug. Is there any ETA on availability?

[2015-07-16 11:09] nickvergessen commented on #177
I seem to have fixed this somewhere in the meantime (before 8.1). At least creating and changing trigger activities as expected:
* "remote user" changed powertop.sh
* "remote user" created powertop.sh

Also works for emails.

So, closing

[2015-07-16 17:49] gig13 commented on #177
@nickvergessen @cmonteroluque @bboule
Which version was it fixed in?

[2015-07-17 07:32] nickvergessen commented on #177
Just tested it on stable8 and it even works there, but stable7 seems not to.

So fixed in 8.0

[2015-07-17 07:32] #177 closed

[2015-07-18 08:21] #329 closed

[2015-07-18 15:36] cmonteroluque commented on #177
thank you Joas

[2015-07-20 15:27] nickvergessen opened #340 "Forward port #336 handling of previews to master before 8.2 release"
Unless the issue has been fixed in an other way:
https://github.com/owncloud/activity/pull/336

[2015-07-21 13:18] gig13 commented on #177
@MorrisJobke @nickvergessen
Where is the backport code for testing?

[2015-07-21 13:19] MorrisJobke commented on #177
There was nothing backported. It was just tested if it work in older versions. It seem that it worked in stable8 but not in stable7.

[2015-07-21 13:52] MorrisJobke commented on #177
I tested it again on stable8 (upcoming 8.0.6) and it works:

![bildschirmfoto von 2015-07-21 15-50-59](https://cloud.githubusercontent.com/assets/245432/8802236/7203af22-2fc0-11e5-9015-f358cad19d2a.png)

[2015-07-21 13:56] szepeviktor opened #342 "Comments starting with '#' are deprecated in ini files"
Could you please use `//` for line comments?
https://github.com/owncloud/activity/blob/master/tests/usersettingstest.php#L81

[2015-07-21 13:58] nickvergessen commented on #342
http://de2.php.net/manual/en/language.basic-syntax.comments.php doesn't say anything about them being deprecated

But sure of course we can change them.

[2015-07-21 14:04] szepeviktor commented on #342
Sorry!
This is for comments in *ini* files.
But it is consistent to use slashes for line comments.

[2015-07-21 14:05] szepeviktor commented on #342
Sorry!
This is for comments in *ini* files.
But it is consistent to use slashes for line comments.

[2015-07-22 12:27] #342 closed

[2015-07-22 12:59] szepeviktor commented on #342
Thank you.

[2015-07-22 14:15] poVoq opened #345 "Problem after restoring database and updating to 8.1"
I restored a database and upgraded to 8.1 and now all the previous activity entries are shown as 15 years old. Furthermore the entry seems to be partially reversed for some reason, i.e. the '15 year' old entries are always shown at the top. Thus for new users you can still see entries being added at the bottom, but existing users only show a page full of 15 year old entries.

[2015-07-22 14:23] karlitschek commented on #345
@nickvergessen any idea?

[2015-07-22 14:40] nickvergessen commented on #345
well make sure your server time is correctly configured, other then that without the backup I see no reason for any of this behaviour.

[2015-07-22 14:43] #345 closed

[2015-07-23 22:45] enoch85 opened #346 "Make it possible to scroll with keys"
It's not possible to scroll with the arrow keys as it is today, tough other keys work, like [esc] i.e. It would be nice to be able to scroll with the keys as well, i.e. when you have a long list of files.

cc @nickvergessen

Ref:   https://github.com/owncloud/core/issues/17848

[2015-07-24 08:54] michaelstingl opened #347 "User configures German language but receives activity notification mails in English"
### Steps to reproduce
1. Configure German language
2. Enable Activity app
3. Modify some files
4. Wait for activity notification mails

### Expected behaviour
German language user should receive German activity notification mails

### Actual behaviour
German language user receives English activity notification mails

### Server configuration

**ownCloud version:**
8.0.4

@MorrisJobke

00003575

[2015-07-24 08:58] nickvergessen commented on #347
Was the language configured correctly for each user?

There is special code in place that does grab the language for the users and then sends the email for each user in his language.
See #145

The only other problem I see is https://github.com/owncloud/core/pull/14650 (linked from previous issue), so they might need to make the adjustment themselves, because we can't backport an API breaking chang

[2015-07-24 09:18] MorrisJobke commented on #347
So this is fixed in 8.1.0. -> close this then as discussed with @michaelstingl :)

[2015-07-24 13:58] nickvergessen commented on #346
https://github.com/owncloud/core/issues/17848#issuecomment-124388528 for details

[2015-07-27 01:00] karlitschek opened #348 "notification center"
New activities should be visible immediately in the web-interface. We should add a ’new notification’ icon in the ownCloud header. This icon should have a neutral color if no new activities are there and a highlight color if something new has happened. On click of the icon a small popup or dropdown should appear that show the latest X activities. At the bottom of the dropdown is a ’show more’ butt

[2015-07-27 01:19] karlitschek opened #349 "interactive activities"
The ownCloud Desktop and Mobile clients should read the activities via the existing OCS API and show them as local activities and push them as notification center event to the local OS. The current sync log on the desktop should be renames as sync log for debugging purpose. The activities that are read from the server are more relevant for the users.

This system is fully implemented on the server

[2015-07-27 08:32] jancborchardt commented on #348
This is very related to the »permanent notifications« issue at https://github.com/owncloud/core/issues/17351 for more general use.

Since it’s quick-access and a small window, I’d say the main use-case of this notification popover is to quickly see things other people did. You know your own things, and seeing those is less important. I wouldn’t say it’s an optional feature to only show more import

[2015-07-27 08:36] jancborchardt commented on #349
Ref https://github.com/owncloud/client/issues/1443

[2015-07-27 10:13] poVoq commented on #345
yes, was related to issues with the real time clock and non exisiting internet connections for getting the time from there. Sorry.

[2015-07-27 13:51] MTRichards commented on #348
Is there a way to provide a notification capability that this just leverages? While not a huge priority, we need a general notification capability for ownCloud for this like system wide messages - for things like maintenance windows, for example - admins have been asking for a while. Is this perhaps related / coverable with the same solution?

[2015-07-27 14:59] karlitschek commented on #348
@jancborchardt I agree with everything.
@MTRichards Yes. This could be used to do system wide messages. Very easy once we have that.

[2015-07-27 15:16] MorrisJobke commented on #347
Some strings are not translated. I will investigate

[2015-07-27 15:19] MorrisJobke commented on #347
In stable8 they were all listed: https://github.com/owncloud/activity/blob/stable8/lib/datahelper.php#L68-L93

[2015-07-27 15:29] MorrisJobke commented on #347
It was moved to core: https://github.com/owncloud/core/commit/d20a8fae453bbbf0d254f7af14d5f65681417629 and also translations are present.

[2015-07-27 15:46] MorrisJobke commented on #347
Usually it should work :( Somehow it doesn't work here with 8.1.0. It is only partly translated:

[code]

All file app related messages aren't properly translated. (see last item)

[2015-07-28 16:14] nickvergessen commented on #348
yeah let me have some thoughts after my vacation

[2015-07-28 16:15] nickvergessen commented on #349
yeah let me have some thoughts after my vacation

[2015-08-01 17:35] chuckingit opened #350 "notice of file downloads via IP capture and email to admin"
Hi - not sure where to put this suggestion for improving the Activity app but for me the most important activity that i'd want to track is not currently available with this app and that is an alert of when files are downloaded from shares ... ideally as admin i would love to get email (or peruse a log file) with the IP address along with date-time stamp of which files are being downloaded ... this

[2015-08-03 19:58] lparmentier-quatral opened #351 "Variable reafected without use ?"
See two lines:

Is not used... : https://github.com/owncloud/activity/blob/v8.1.0/lib/data.php#L155
Duplicate: https://github.com/owncloud/activity/blob/v8.1.0/lib/data.php#L156

[2015-08-04 18:04] nickvergessen commented on #351
No, it's not, because the variable from 155 is used in 156

[2015-08-04 18:05] #351 closed

[2015-08-10 10:04] nickvergessen commented on #347
@MorrisJobke you are talking about 8.1 or master? If so please open a new ticket.
The system and stuff changed quite hard in between, in 8.0 everything works fine for me, apart from the https://github.com/owncloud/core/pull/14650 problem

[2015-08-10 10:05] MorrisJobke commented on #347
Yes. Seems to be 8.1/master only. On 8.0 there where completely different issues, that are fixed with 8.1+

[2015-08-10 10:05] #347 closed

[2015-08-10 10:19] MorrisJobke commented on #347
@nickvergessen Did you fixed it? If so, please reference here

[2015-08-10 11:15] nickvergessen commented on #347
No, still waiting for your new issue :wink:

[2015-08-10 11:34] MorrisJobke commented on #347
-.- Read it the other way around.

[2015-08-10 11:38] MorrisJobke opened #355 "User configures German language but receives activity notification emails with some parts in English"
Some parts of the messages in a activity notification aren't translated. Especially anything that is not related to sharing (deleting files, ...). All file app related messages aren't translated properly.

[code]
ref #347

ownCloud version: 8.1.0+

cc @michaelstingl 00003575

[2015-08-10 11:38] MorrisJobke commented on #347
#355

[2015-08-10 13:37] michaelstingl commented on #355
@MorrisJobke Thank you for connecting me with the new issue.

[2015-08-11 09:29] #302 closed

[2015-08-11 09:39] enoch85 commented on #350
+1 for this! The IP/email part is a very cool idea. What about showing the IP as a tooltip in the activity feed as well?

[2015-08-11 09:50] nickvergessen commented on #350
yeah of course it sounds cool, I also think its the way to go, hopefully we can add that for a future version

[2015-08-11 10:27] jancborchardt opened #356 "Long list of display settings"
The list of these Activity display settings in Personal is getting really long …

One thing we definitely need to do is to have intermediate h3 headings for Calendar and Contacts to separate them.

Likely we need to think about if it makes sense to combine some of the other settings, or if some even make sense. cc @nickvergessen @owncloud/designers

[2015-08-11 10:34] #355 closed

[2015-08-11 11:09] nickvergessen commented on #356
While I see the idea, this means we need to break our API, or at least extend it in a way that new and old way are possible.

Combining options is not our task, but the task of the app author.

I will try to make the h3 thing possible while retaining backwards compatibility.

[2015-08-12 08:57] MorrisJobke commented on #355
@michaelstingl will be fixed in 8.1.2

[2015-08-13 15:41] #249 closed

[2015-08-14 08:52] PVince81 opened #360 "Setup JS unit tests"
Need to bring in a framework (probably karma or mocha) and have it run on Travis.

[2015-08-14 09:18] nickvergessen commented on #360
yes please, feel free to help :)

[2015-08-14 09:20] PVince81 commented on #360
We're going to need it as the JS code is florishing even more :smile:
I'll have a look later.

[2015-08-14 10:16] PVince81 commented on #360
PR here https://github.com/owncloud/activity/issues/361

[2015-08-14 12:34] jancborchardt commented on #272
This results in having multiple screenshot for only one file:
![capture du 2015-08-14 14-33-42](https://cloud.githubusercontent.com/assets/925062/9273953/813719dc-4291-11e5-8d88-ab0967769f25.png)
Only a screenshot of the latest version should be shown @nickvergessen :)

[2015-08-14 14:23] nickvergessen commented on #272
noticed the same just now, thanks

[2015-08-14 14:51] srt10coupe opened #365 "[Debian] [oC 8.1.1 ] Activity app:enable 500 server error mobile device"
see it…

![screenshot_2015-08-14-16-42-07](https://cloud.githubusercontent.com/assets/399997/9276493/9c81b914-42a4-11e5-8496-129396a9ada0.png)

[2015-08-14 15:02] srt10coupe commented on #365
[code]

[code]

--
same error

[2015-08-15 07:12] srt10coupe commented on #365
newest git pull same error

[2015-08-15 19:44] nickvergessen commented on #365
Newest git is for owncloudd 8.2development branch only.
Try `git checkout stable8.1`

[2015-08-15 19:44] #365 closed

[2015-08-17 08:13] #360 closed

[2015-08-17 14:57] kalletabur commented on #145
Now we have upgraded our servers to 8.1.1 and still users to whom files/folders are shared get notifications based what language sharer uses.
Seems to me that this is still not resolved.
I used test folder/file to test this. Before sharing I changed language (Estonia -> Finnish -> Russian) and as you can see user (language is set English) gets notifications in wrong language
![share-notifications-

[2015-08-17 15:09] enoch85 commented on #145
cc @nickvergessen

[2015-08-17 15:38] nickvergessen commented on #145
Yeah, just fixed the issue last week. It's an issue in core's file app, which ignores the language key the activitiy app provides to it:
https://github.com/owncloud/core/pull/18171

Will be fixed in 8.1.2 and 8.2

[2015-08-20 13:54] gig13 opened #367 "Notifications not shown for files_drop files"
### Steps to reproduce
1. Enable all notifications on
2. Enable files_drop app and create an endpoint
3. Upload a file using files_drop

### Expected behaviour
When uploading a file thorugh files_drop, the activity should show the file as a newly created file in the Activity stream. This should also be included in the email as part of the notifications.

### Actual behaviour
The file is not logged

[2015-08-20 15:54] PVince81 opened #369 "Append etag in preview URLs"
I got a case where the URL returned by the activity app was showing the wrong cached preview from an older version of the file.

Ideal would be to either append a random string "c=1a2b3c4d5" in the URL or the etag.

[2015-08-20 20:04] rakekniven opened #370 "Add html version of "activity notification mail""
Reading long "activity notification mail" in plain text is not nice.
Please add html version of notification and add it to template editor.
Each item (modified/added/deleted) should contain html link to directly call item.

A good example can be seen on how Alfresco is doing it.

I can add example after returning to work.

[2015-08-21 08:20] #272 closed

[2015-08-21 10:03] nickvergessen commented on #369
No, that's abuse against caching. If the valid preview URL returns a wrong image, that is something core has to deal with!

[2015-08-21 10:06] PVince81 commented on #369
Using the etag isn't abuse. We do that in the files app too.
So as long as the file is the same as before, it will use the cached image from the browser as it has the same etag.
If the etag changes, a new preview is requested.

[2015-08-21 10:06] PVince81 commented on #369
(a random string is abuse, yes)

[2015-08-21 10:07] nickvergessen commented on #369
Well, currently we don't have the etag. Maybe  as part of chaning previews to file id way

[2015-08-21 10:08] PVince81 commented on #369
Isn't the preview URL bundled in a field ? You could just append the etag there.

[2015-08-21 10:44] nickvergessen commented on #369
No it is currently generated from the file path. But that means when it is moved we don't have previews anymore, so changing that is maybe a good idea anyway.

[2015-08-24 10:40] nickvergessen commented on #367
Make sure that you have activities for create/change enabled.
Works for me:  `"remote user" created ramdisk.sh`

[2015-08-24 11:34] gig13 commented on #367
@nickvergessen
Did you test with 8.0.5?

[2015-08-24 11:35] LukasReschke commented on #367
@gig13 Please use the existing issue. THX.

https://github.com/owncloud/files_drop/issues/61 which shows that https://github.com/owncloud/core/pull/17172 was merged for 8.0.6

[2015-08-24 11:35] #367 closed

[2015-08-24 11:37] LukasReschke commented on #367
@gig13 Also please try to reproduce issues on your own on the latest release (8.0.6) if the customer does not use the latest release. We shall not waste engineering time on this. THX.

[2015-08-24 12:00] gig13 commented on #367
@LukasReschke @bboule
Not every user must be forced to upgrade to the latest version contrary to your opinion. I asked a simple question and a simple response would have been adequate. I am testing with 8.0.6 to confirm.

[2015-08-24 12:03] LukasReschke commented on #367
I'm not talking about the user. I'm talking about support that should try at least in advance to reduce the workload of devs.

[2015-08-24 12:05] LukasReschke commented on #367
Otherwise we're left with 10000 issues that are filed by users that have not updated their instance while they are fixed in the latest minor release. Yes, bugs might also exist in the latest minor release but if they are fixed there then they should not get filed or at least filed with "it works in $version".

[2015-08-24 14:29] gig13 commented on #367
Works as expected with 8.0.6 -- asking customer to upgrade again, after just upgrading one month ago.

[2015-08-24 14:32] nickvergessen commented on #367
@gig13 welcome to software usage. Updates are released often, but minor updates (8.0.x to 8.0.x+1) should be somewhat quick

[2015-08-24 14:36] jancborchardt opened #372 "»No activities« on file/folder in sidebar"
There is never really a case where there is »No activity« on a file. The first activity is the creation of the file. For me that is not displayed in that view.

@nickvergessen

[2015-08-24 14:43] nickvergessen commented on #372
@jancborchardt are you sure that it is not the welcome.txt of the first user? That file is created before activity app is enabled.
Also note, that yes this view can be empty. Just disable all stream settings?

[2015-08-24 14:47] jancborchardt commented on #372
After talking to @nickvergessen we concluded that the current way is fine, as it only shows in rare cases.

[2015-08-24 14:47] #372 closed

[2015-08-24 20:38] michaelstingl opened #373 "New user with auto detected German language receives activity notification emails in English"
### Steps to reproduce
1. Install ownCloud
2. Configure email settings & syscron
3. Create a new user & log into it
4. Set your notification settings (everything on an hourly basis to your own mail address)
5. Check the preferences that are stored in the database (see attached file db_1.txt)
6. Create changes to the files stored in the users ownCloud
7. Receive the notification mail (see attached

[2015-08-25 05:34] MorrisJobke commented on #373
I think this is a bug in core due to the l10n setting

[2015-08-25 05:57] OSpringer commented on #373
I have reported this issue to ownCloud support and just wanted to clarify:

The behaviour I'm expecting is that when a users language is auto detected as German the user should receive their notification in German and not English.

Basically the user should receive the notification in whichever language was auto detected for him, unless the user defined another language through the settings menu.

[2015-08-25 06:01] MorrisJobke commented on #373
Yes. I will look into this today.

[2015-08-25 06:45] nickvergessen commented on #373
Basically what OC needs to do is store the auto detected language in the DB if it is not set.

[2015-08-25 06:46] MorrisJobke commented on #373
I know ;)

[2015-08-25 13:50] MorrisJobke commented on #373
@michaelstingl Fix is in owncloud/core#18553

[2015-08-25 15:15] michaelstingl commented on #373
@MorrisJobke Will this be backported to 8.1.2 ?

[2015-08-25 16:12] MorrisJobke commented on #373
I requested it ;)

[2015-08-26 06:44] #373 closed

[2015-08-27 21:37] jancborchardt opened #375 "File and folder renames do not show up as activity"
This should be the case though, as:

@nickvergessen

[2015-08-27 21:51] nickvergessen commented on #375
Yeah moving is missing, it's actually not that simple. When moving over boards, it can be rename,  move, add and delete for different persons on the same action. But yeah definetly on the todo, now where we have ids

[2015-08-28 14:09] jancborchardt opened #377 "Activity tab in sidebar shows preview icon for every action"
There’s really no need to show the preview icon for every action like sharing. The only cases where it should be shown is for creation and for changes.

@nickvergessen

[2015-08-28 14:14] jancborchardt opened #378 "Activity tab in sidebar doesn’t show share image or user avatar for share activity"
@nickvergessen

[2015-08-28 16:25] jancborchardt opened #380 "Activity tab in sidebar doesn’t show activity inside folder"
Even though @nickvergessen told me this is basically impossible, here’s an issue for it.

When I open the details pane of a folder, I want to know the activity of what happened inside it. Currently only creation and sharing is shown (in the future rename). I definitely expect to see all activity of files inside it right there.

cc @DeepDiver1975

[2015-08-28 16:34] nickvergessen commented on #380
This can only be implemented, if the file tree is stored in a different way in the database of OC. We can get a list of files below the folder, but recursively getting all of them and all activities for them is not going to be nice, so this won't happen.

[2015-08-28 17:03] #378 closed

[2015-08-28 18:08] jancborchardt commented on #377
@nickvergessen change action doesn’t show a thumbnail though. For images that should happen (so you can compare old and new.

[2015-08-28 19:07] nickvergessen commented on #377
Not possible, because versions app is not required to be there and version an expire and versions are not linked to activities and there is no public api that gives you a preview for a file at a given timestamp.

[2015-08-28 20:00] jancborchardt commented on #377
Can we then introduce this in the versions app and make it an optional enhancement when it’s present? cc @schiesbn @blizzz

[2015-08-28 20:42] #377 closed

[2015-08-29 05:37] jancborchardt commented on #377
…

[2015-08-29 05:42] jancborchardt commented on #377
@nickvergessen can you please sit together with whomever is responsible for the Versions app to make this happen?

[2015-08-29 11:48] MorrisJobke opened #381 "Blurry icons with new icons of core"
![bildschirmfoto von 2015-08-29 13-47-20](https://cloud.githubusercontent.com/assets/245432/9561783/99a37dd4-4e54-11e5-8e9c-155164ed404a.png)

core master

cc @jancborchardt

[2015-08-29 13:03] nickvergessen commented on #381
The problem is, that the preview is not the SVG, but the preview system returns the mimetype icon as an image instead of telling that there is no preview

[2015-08-29 14:20] nickvergessen commented on #381
Core is replying wrong as per above.
I digged a bit into it: owncloud/core#18655

[2015-08-29 14:20] #381 closed

[2015-08-29 15:18] nickvergessen commented on #299
Duplication of #350

[2015-08-29 15:18] #299 closed

[2015-08-29 15:18] #79 closed

[2015-08-29 15:19] #25 closed

[2015-08-29 16:06] #340 closed

[2015-08-29 16:06] #369 closed

[2015-08-29 16:10] nickvergessen commented on #106
@Xenopathic you may try to do this? Should be added to files_externals somehow.

[2015-08-29 16:30] nickvergessen opened #382 "Display remote avatars on federated cloud ids"
https://github.com/owncloud/core/pull/14856

@rullzer please tell me when the JS stuff is fixed.

[2015-08-29 16:46] Xenopathic commented on #106
@nickvergessen Ping me again when the shitstorm around fixing files_exernal dies down... after 8.2

[2015-08-30 10:42] farson2003 opened #383 "Include a direct link to specific file in activity emails"
When an email is sent out when a user hits the "Send email" button when sharing a file, the email contains a direct link to the specific file.

Simiral feature should be available in activity emails: They should also include a link to the specific file (or calendar event) which is listed in the activity email.

That was users could get to the newest changes via "one click".

[2015-08-31 08:28] dragotin commented on #349
this means implementing a new notification system cross platform, as the current one does not support interactivity unfortunately. @danimo

I think we should see that under consideration of https://github.com/owncloud/client/issues/1748

[2015-08-31 08:38] nickvergessen commented on #349
I had a quick discussion with the task app guys yesterday, they want interactive notifications as well, so they can notify you about a reminder, but also allow "snooze" and "shutdown".

Last week some discussions took place and it was decided to increase activities but make it next to it, because it does not fit in the scope and definition of activities (read log).

[2015-08-31 09:35] karlitschek commented on #349
agreed. so this should go into a new 'notification' app

[2015-09-01 09:29] jancborchardt commented on #349
cc the Tasks folks for this purpose: @raimund-schluessler @Henni any more feedback except what is already in this thread?

I do agree we need a new »Notifications« app. The only interface should be an icon and popover in the top right. It can then hook in to the clients and apps, and as well show in Activity etc.

[2015-09-01 09:32] karlitschek commented on #349
agreed. the only user interface should be the icon and popover in the header.
open question is that all notifications most likely should also be shown in the activity stream. So does an app have to send it to the activity api and the notification api? or does the notification api automatically pass it on to the activity app?

[2015-09-01 09:36] jancborchardt commented on #349
I’d say the notification API automatically passing it to the activity app would be good, since every notification is also an activity.

Of course when the notification is »Thomas shared `Vacation pictures` with you [Accept] [Reject]«, then as soon as you accept it the activity shown needs to change accordingly from showing it as interactive notification on top of the Activity list to simply showin

[2015-09-01 10:20] raimund-schluessler commented on #349
I don't know if it is ideal to push a notification from the notification app to the activity app. What happens, when an app implements both activity and notifications? Will I see the entry in the activity stream twice?

[2015-09-01 11:51] nickvergessen commented on #349
Woops, didn't ment to close this.

Anyway, the concept will be the other way around. For each activity you can also decide if it should send you a notification, just like with Emails and Stream currently.

The notification app itself will only consist of a Number with dropdown in the header and an Endpoint for the desktop and mobile clients to get the notifications from.

[2015-09-02 13:07] rakekniven commented on #370
Here is my example from an alfresco DMS system:
![recent activities](https://cloud.githubusercontent.com/assets/2069590/9631814/cbc7408e-5183-11e5-9e2f-2e7effe40197.PNG)

Please see hyperlinks.
You can click on user to see public user profile. Don't know if we have a target for this on an ownCloud system at the moment.
You can click each item (folder or file) to get directly to suitable web locati

[2015-09-02 13:20] rakekniven opened #385 "Add execution time for notification creation on setting "daily""
Each user has notification settings.
Please add a time option if setting "Send emails" is set to "Daily".
Benefit: You can set time e.g. to 6 AM and every user has his notification summary of the last day when he check mails in the morning.

[2015-09-02 13:37] nickvergessen commented on #385
Sounds like a neat idea, however that means we need to resolve the timezone of all affected users and stuff like that.

[2015-09-09 18:56] rakekniven commented on #114
Please think of adding "Disable activity notifications" for folders as well.
e.g. I store my notepad++ settings in my ownCloud and that causes many, many activities a day.

[2015-09-09 20:06] bcutter commented on #282
Hi, when running "sudo -u www-data php /var/www/owncloud/occ app:check-code activity" I get:

"Analysing /var/www/owncloud/apps/activity/lib/display.php
 1 errors
    line   94: OC_Helper - static method call on private class
App is not compliant"

==> ???

OC v8.1.1
Activity v2.0.1

[2015-09-09 21:06] rakekniven opened #387 "Text of activity notification mail doesn't fit to send cycles"
e.g. mail contains following statement in body:
You are receiving this email because in the last day the following things happened at xxx

If you send out notifications hourly it should be:
You are receiving this email because in the last hour the following things happened at xxx

for weekly settings you better say:
You are receiving this email because in the last week the following things happene

[2015-09-09 21:08] rakekniven commented on #387
The german translation is even whore for hourly setting:
"Sie erhalten diese E-Mail, da gestern folgende Dinge bei xxx geschehen sind"

Where to report? Maybe some german natives are around ;-)

[2015-09-10 06:33] nickvergessen commented on #282
Yeah can't really fix that without breaking previews in 8.1
You will have to live with that until 8.2 is out

[2015-09-10 20:25] cmonteroluque commented on #101
Not notifying a re-share event seems like a bug to me

[2015-09-10 20:25] cmonteroluque commented on #100
No notification when a share in unshared seems like a bug to me

[2015-09-10 21:29] MTRichards commented on #100
Yep, to me too. I think we have had it around before too, it sounds familiar. Perhaps when talking about the log file...same result is needed there too.

[2015-09-11 11:39] nickvergessen commented on #387
Yeah removing sounds like a good idea, that will solve issues with translations more easily.

[2015-09-11 13:31] rakekniven commented on #387
How to get along with this.
Am I allowed to change that string at transifex?

[2015-09-11 13:37] nickvergessen commented on #387
You can send a Pull Request against this repository changing it here:
https://github.com/owncloud/activity/blob/master/templates/email.notification.php#L10-L16

transifex will then be automatically updated. I will try to find time on monday to do it, in case you don't want to.

[2015-09-11 14:08] nickvergessen opened #388 "Move background job creation to install/update"
See owncloud/core#18781

[2015-09-14 07:31] nickvergessen commented on #348
https://github.com/owncloud/notifications

[2015-09-14 07:31] #348 closed

[2015-09-14 07:31] nickvergessen commented on #349
https://github.com/owncloud/notifications

[2015-09-14 07:31] #349 closed

[2015-09-14 08:32] #388 closed

[2015-09-14 09:06] #387 closed

[2015-09-15 09:32] #101 closed

[2015-09-15 20:45] #10 closed

[2015-09-17 11:49] jancborchardt commented on #10
To comment this (next time please do that @nickvergessen when you close an issue): We have a notifications app now: https://github.com/owncloud/notifications, which will be shipped with the upcoming 8.2

[2015-09-17 12:22] jancborchardt opened #395 "Reduce amount of text in activity sidebar, don’t show filename on every change"
Currently in every single entry the filename is mentioned. This is way too much clutter in the sidebar where we don’t have much space and info should not be redundant anyway.
(Ignore the missing share icons please, that’s caused by my adblocker.)
![capture du 2015-09-17 14-19-49](https://cloud.githubusercontent.com/assets/925062/9932835/4159b3f8-5d47-11e5-9e09-a92432d58f15.png)
Here’s some better

[2015-09-17 12:23] jancborchardt commented on #395
(Btw it’s even worse in mobile mode when the text starts wrapping just because the filename is mentioned every time.)

[2015-09-17 13:02] PVince81 commented on #395
I believe that the full text is stored in the database, so it cannot easily be removed unless the format of the (future) messages is changed to always be short, and let the JS code augment them ?

@nickvergessen

[2015-09-17 13:30] nickvergessen commented on #395
This was the case, but was changed in oc7 :frowning:

But this will never the less be quite taff, since we need to tunnel the information which screen we are on all the way through.

[2015-09-17 13:34] PVince81 commented on #395
You might be able to detect whether we are filtering by file id, and when it is then remove the file name from the message (if possible).

[2015-09-17 13:35] PVince81 opened #396 "Filter activities by folder"
@oparoz

[2015-09-17 13:36] PVince81 commented on #396
We already discussed this before with @nickvergessen, I don't remember the details but I remember that there were quite some technical challenges to make this work without big performance impact, especially when dealing with shared folders.

[2015-09-17 14:40] nickvergessen commented on #396
https://github.com/owncloud/activity/issues/380

[2015-09-17 14:40] #396 closed

[2015-09-17 14:41] nickvergessen commented on #395
yeah as said, that info needs to be tunneled through the public api :no_mouth:

Will have a look tomorrow

[2015-09-17 17:49] jancborchardt opened #397 "Strange activity message flood"
![capture du 2015-09-17 19-31-04](https://cloud.githubusercontent.com/assets/925062/9941357/1a2be67e-5d75-11e5-8d84-cccc87d74d4f.png)

I get one of each of these messages _every time_ I share via link, or just »allow editing«. There should only be one activity of course, and the technical id there is wrong. … @nickvergessen

[2015-09-17 17:49] jancborchardt commented on #397
cc @schiesbn cause of sharing

[2015-09-18 06:17] nickvergessen commented on #397
Missing translations are due to https://github.com/owncloud/core/pull/18679 which just needs merge.

Will have a look at the duplication thou

[2015-09-18 06:31] nickvergessen commented on #397
Fix is at https://github.com/owncloud/activity/issues/398

[2015-09-18 07:51] #397 closed

[2015-09-21 18:33] cmonteroluque commented on #100
based on "Depends on owncloud/core#9058"

[2015-09-22 06:30] nickvergessen commented on #100
Just as a comment:

We never had such activities,

[2015-09-23 21:06] jancborchardt commented on #395
@nickvergessen did you have a look then?

[2015-09-24 06:15] nickvergessen commented on #395
Only quick, will try to work on this, once all the other 8.2 tasks that are more important are done

[2015-09-24 06:46] jancborchardt commented on #395
Thanks! :) It’s quite a big visual point in one of our most prominent features, so it would be good to get that to look proper.

[2015-09-24 13:04] felixboehm commented on #105
@MTRichards

[2015-09-24 13:23] nickvergessen commented on #105
Should more be a notification?

[2015-09-24 14:27] felixboehm commented on #105
When a user has set a quota
and his used disk space has reached 90% of the quota
then a notification should be sent to the users email address.

When a user has no quota set
and his used disk space has reached 90% of the remaining disk space
then a notification should be sent to the users email address.

Email should warn and contain infos about disk usage and quota.

As usual in the Activity app,

[2015-09-24 14:47] karlitschek commented on #105
@nickvergessen I think an activity and a notification

[2015-09-24 16:44] MTRichards commented on #105
@karlitschek and @nickvergessen Concur with Frank, the option for both makes sense to me - allow the user to pick the mechanism that works for them.

[2015-09-29 16:23] MorrisJobke commented on #373
Will be in 8.1.4

[2015-09-29 16:37] michaelstingl commented on #373
@MorrisJobke Thanks!

[2015-10-01 08:48] kalletabur commented on #145
Tested it with 8.1.3 and notifications still are using wrong language - it is using the language of the sharer not the language of the user who recieves the notification.
I shared 3 files with email notifications. 1st time my personal language was finnish, 2nd time english and 3rd time estonian. The user who recieved notifications has language set to english. He recieved these notification with 3

[2015-10-01 09:06] nickvergessen commented on #145
It will be in 8.1.4, see https://github.com/owncloud/activity/issues/373

[2015-10-01 09:08] nickvergessen commented on #145
If you can't wait feel free to patch your instance with https://github.com/owncloud/core/pull/18572

[2015-10-01 10:24] kalletabur commented on #145
applied patch 18572 on dev server, confirmed that changes were applied, tested and still notifications are different languages.
ownCloud version 8.1.3, Debian 8.2, PHP 5.6.13, MySQL 5.5.44, NGINX 1.6.2-5

[2015-10-01 10:34] kalletabur commented on #373
As I reported in https://github.com/owncloud/activity/issues/145 I tested it with ownCloud version 8.1.3 and I still get notifications in wrong languages

[2015-10-01 10:36] nickvergessen commented on #145
Well it needs a login from the affected users before the email is sent.
Also make sure that when you login the language is what you expect

[2015-10-01 10:45] kalletabur commented on #145
How I tested:
Created test user (lets call it user1), let another user (lets call it user2) log in to web (on this patched dev server) and let him change personal language to estonian.
3 files were created previously.
after that I log in over web using user1.
user1 changed personal language to English and shared 1st file to user2 (with mail notification) -> user2 recieved mail in English
user1 cha

[2015-10-01 12:01] nickvergessen commented on #145
Works for me:

[2015-10-01 14:18] kalletabur commented on #145
Seems that we are talking about different notifications.
What I mean is that if I share something to someone and click check button send notification with mail then someone should get notification in language what he have choosen not what I have choosen.
The notification you shared (in lovely estonia :D ) is activity notification.

[2015-10-01 14:33] nickvergessen commented on #145
That is not from the activity app, but I see the issue now. Please create a new issue in core

[2015-10-01 20:08] cmonteroluque commented on #395
This issue will fall off 8.2 if not resolved by 6 Oct

[2015-10-02 10:18] #395 closed

[2015-10-02 13:45] stevejordi opened #404 "Others Activity: show everybody, not inner circle. Privacy Issue"
### Steps to reproduce
1. Log in (non admin account)
2. Activity
3. All activity

### Expected behaviour
Show all activity from accounts you interact with.

### Actual behaviour
Shows activity from all accounts, no matter what.
Privacy issue.

### Server configuration
**Operating system**: CentOS 6.7

**Web server:** Apache

**Database:** MariaDB

**PHP version:** 5.6.13

**ownCloud version:** 8.1

[2015-10-02 14:46] karlitschek commented on #404
Can you post exactly how to reproduce this? The idea is to see activities on files that are a shared with others.

[2015-10-02 15:37] nickvergessen commented on #404
We only show activities of files you can see. That is exactly what the purpose of the activity app is.
If the activity is for a file you can not see, then this would be a "privacy bug". In which case you should not have posted this public. But I can't reproduce this, so I think you only "misunderstood" how the app is supposed to work?

[2015-10-02 18:41] stevejordi commented on #404
As said:
- log to account
- select "Activity" from the menu
- on the left submenu bar, click "Activities by others"
Then you have ALL activities from EVERYBODY in the organization, 2000 in my case, not the only 10 persons I deal with.

I'm a system and software engineer since 1980... so I guess I know what I'm talking about.
This is not misunderstanding how the app works.
I agree that this menu sh

[2015-10-02 19:08] karlitschek commented on #404
so do you see files mentioned that you can't access?

[2015-10-02 19:12] LukasReschke commented on #404
Also how did you import the data?

[2015-10-02 19:14] stevejordi commented on #404
Yes, I see doc names I can't access.

Regarding the import from own cloud 7
- snapshot of data files + MySql
- copied the data files to the new machine
- copied the database to the new machine
- applied rights to folders
- occ upgrade (which returned no errors)

[2015-10-03 06:11] nickvergessen commented on #404
I can not reproduce any such issue, do you have database access, so you can check whether the affected_user is you, or someone else?

[2015-10-05 06:32] stevejordi commented on #404
if I select affecteduser from oc_activity, I have 12359 rows with all users

[2015-10-05 06:33] stevejordi commented on #404
select distinct affecteduser from oc_activity returns a list of all accounts, 2098 rows.

[2015-10-05 07:34] nickvergessen commented on #404
and does it show activities to you, which have affected user set to "not you"

[2015-10-05 07:56] stevejordi commented on #404
What do you mean? How can I do this?

[2015-10-05 08:26] nickvergessen commented on #404
[code]

And see if it matches the list you see in the UI

[2015-10-05 13:23] stevejordi commented on #404
I get only the kind of actions "deleted", "shared with", etc... I have 358 shares.
What I did though was to disable Activity. Then enable it back and things seem to have improved now.
But we all still have some activities that are not at all related to our own activities... but not by the thousands. We do have the file name details of the operations though.

[2015-10-05 13:44] nickvergessen commented on #404
They don't need to, if they are for a file you see, you are a valid recipient of the activity.

[2015-10-05 13:44] #404 closed

[2015-10-05 15:07] stevejordi commented on #404
Sorry but no.
I have activities I should not see. Those files have not been shared with me or a group I belong to.
I should not even know that person A has shared, added or deleted a private file shared with someone else.

This is a privacy flaw.
I have to fully disable “Activity” in order to avoid legal actions. That’s what it is.
Now if you don’t want to see the reality that’s another thing.

[2015-10-05 15:11] karlitschek commented on #404
it is a feature of the activities app to show all activities on files that i own or are shared with me.

if you don't want this functionality then just disable the app. case closd.

[2015-10-05 15:19] stevejordi commented on #404
A and B share a file.
C and D share a file between them.
A and B don’t know C or D and have no relations with them.

Why would A be aware of C and D and their filename? A and B have nothing to do with C and D?

Steve

[2015-10-05 15:21] nickvergessen commented on #404
I can not reproduce something like that.

However if A shares a file of C to B, then C will see file changes of B on that file.

[2015-10-05 15:25] LukasReschke commented on #404
@stevejordi This seems like a privacy related bug that may require some direct support by us. - Can you get in touch with me privately?

-> lukas(at)owncloud(dot)com

[2015-10-05 15:25] stevejordi commented on #404
I totally understand this.
But if A shares with B.
C shares with everybody but A and B, and those everybody to re-share that C file with A and B, those latter have no reason to be informed about someone outside activities.

That’s my point.
That’s why we can’t use that activity which is something required for a lot of people.

Steve

[2015-10-08 09:16] dragotin opened #405 "API: No way to retrieve events later than a certain point"
The current API only takes the parameters `page number` and `number of entries` to influence the subset of entries returned.

For a client that is not suitable. We need an API that provides all new entries that came after a certain point of time. That can either be done through ID or timestamp. The client needs a way to specify a number of events to be returned at a time (already there), but also

[2015-10-08 09:24] dragotin opened #406 "API: String entries are not localized"
The API returns strings in the `subject` and the `message` tag at least. These are in an english locale, not translated.

If I read the code correctly, there is no way for the client to specify the language the server should return. That could either be done with an additional parameter, or, via the `Accept-Language` header as described here: http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html

[2015-10-08 09:27] dragotin opened #407 "API: Provide explicit user element"
The API does not send back a reference to the user who did an event.

For a useful client implementation that would be needed on the longer run.

[2015-10-08 09:41] nickvergessen commented on #406
They are translated with the language the user selected in the web UI, should be sufficient?

[2015-10-08 09:42] nickvergessen commented on #407
Can be added, although it's not always set (sometimes there is no local user which did the event, e.g. remote shares)

[2015-10-08 09:45] dragotin commented on #406
No, I do not think so. Client- and server language settings have nothing to do with each other.

[2015-10-08 09:50] nickvergessen commented on #406
I guess the number of people that have client and server set to different languages is pretty low, but I can try to read the language from the accept-language header, if you think it is really necessary.

[2015-10-08 10:00] dragotin commented on #406
Yes, I think that. There seems to be a considerable number of people who never open the web interface but only sync in large organizations. An example might be an US company with a branch in china, they will have an english server by default, but the desktops of the people will be in their locale.

I don't think we want to force them to go to their personal settings on a for them unknown website f

[2015-10-08 10:18] DeepDiver1975 commented on #406
The language is already taken from the Accept-Language header in core

[2015-10-08 10:29] DeepDiver1975 commented on #405
Reading this I assume you intend to store the activities locally in the clients and want to check in a given interval for new activities - right?

So basically this would be an activity sync mechanism.

[2015-10-08 10:31] nickvergessen commented on #406
yeah just found that as well and it works for me using curl, when I hardcode the value in https://github.com/owncloud/core/blob/master/lib/private/l10n.php#L107 and https://github.com/owncloud/core/blob/master/lib/private/l10n.php#L113

[2015-10-08 10:40] DeepDiver1975 commented on #406
[code]

[2015-10-08 10:42] DeepDiver1975 commented on #406
from my pov this can be closed since it's working

[2015-10-08 10:43] dragotin commented on #406
Yes, thanks & my apologies. I tested with 8.0.x where it's not yet working...

[2015-10-08 10:43] #406 closed

[2015-10-08 11:07] nickvergessen commented on #405
Don't really care too much, which route we go. Either OCS or [WebDAV](https://github.com/owncloud/activity/pull/206)

OCS has the pro that it exists already, con it needs to be adjusted a lot to allow starting by timestamp and more, so we either break the existing endpoint or need to make a new one, so the already-existing benefit is gone.

Anyone with power please make the call.

[2015-10-08 11:09] DeepDiver1975 commented on #405
Protocol is to be choosen at a later stage - for now I want to understand the client's expectations and it's operations.

@dragotin

[2015-10-08 12:57] dragotin commented on #405
I was thinking about this:
- Client maintains a local storage of the events to be able to display them quickly and also in offline mode
- From that local storage, client can find out the latest event it knows, ie. the highest timestamp, or maybe better id.
- to fetch new events from the server, it sends the last known highest timestamp along and the server returns the new events that came after th

[2015-10-08 13:29] nickvergessen commented on #405
Well the current API is like a paged search. Just like you would get from a book or in the web ui.
However the local storing and offline thing makes sense to me and I also see no other way then having a "I know everything up to activity #X" approach.

[2015-10-08 19:55] karlitschek commented on #405
@nickvergessen OCS please. Let's stay at the current route with the current API unless a change is absolutely necessary.

[2015-10-09 17:59] cdamken opened #410 "Wrong link and missing information"
1) Upload a file to oC
2) Move the file to a new folder
3) Go to Activity log
4) Activity log says "You created XXX.jpg" and allows you to click on it
5) Click on it and it brings you to the original location -- where the file no longer exists
6) Activity log says nothing about the files being moved

Also:
1) Share File A with me
2) Unshare File A with me
3) Activity log shows the SHARE but not th

[2015-10-10 13:35] nickvergessen commented on #410
Yeah, that is currently by design

[2015-10-10 13:36] nickvergessen commented on #410
Related #262

[2015-10-13 09:08] PVince81 opened #413 "Show more / scroll down for more in activity tab in sidebar"
Currently AFAIK we only retrieve the first page of results.

We might want to provide a way to scroll down and access the next page of results.

[2015-10-13 15:25] nickvergessen commented on #314
won't fix as per above

[2015-10-13 15:25] #314 closed

[2015-10-13 22:38] jancborchardt commented on #356
@nickvergessen why is it closed? Do we have intermediate headings? There’s still a bunch of settings which we should think about how to minimize or at least improve the display of.

[2015-10-14 04:55] nickvergessen commented on #356
Minimizing is the way to go and that is nothing the activity app can take care of. Intermediate headings look stupid for apps that do it correctly and only have one setting. So won't fix since trouble > use

[2015-10-18 14:26] tflidd opened #417 "Make configurable how long notifications are stored"
Currently it seems that owncloud stores activity notifications for 1 year (the oldest entry I found is exactly one year old). Unfortunately, my table has grown to 69 MB (123000) entries over time.

During the latest update from OC 8.0.6 to 8.0.8, it took 3 minutes to create a temporary copy and alter this table twice.

Is there any way to configure how long these notifications stay in the database

[2015-10-18 17:35] nickvergessen commented on #417
Already exists since owncloud 7:
https://doc.owncloud.org/server/8.0/admin_manual/configuration_server/config_sample_php_parameters.html#app-config-options

[2015-10-18 17:35] #417 closed

[2015-10-18 18:35] tflidd commented on #417
@nickvergessen I only checked config.sample.php, maybe you should add it there as well.

[2015-10-19 07:03] nickvergessen commented on #417
It was decided against putting app values into the core sample, because apps may or may not be there and the config in the sample then be of no-use and only confusing for admins.

[2015-10-19 13:29] fifh opened #418 "File moved to a shared folder doesn't show up as activity"
### Steps to reproduce
1. log as user1, and create a new file in a unshared folder
2. using the web UI or the desktop sync tool, move it to a folder shared with another user (user2)
3. display activity of user2

### Expected behaviour
User2 should view a new line in activity panel like "user1 has created a new file in folder..." (or "moved " ?)
This is also important because of the Documents app :

[2015-10-19 13:37] nickvergessen commented on #418
Duplicate https://github.com/owncloud/activity/issues/375

[2015-10-19 13:37] #418 closed

[2015-10-21 07:58] deanso opened #419 "error loading activities"
### Steps to reproduce
1. run oc 8.1.3
2. migrate to 8.3
3. go to files
3. click on activities icon of an folder.

### Expected behaviour
Should show me the activities of that folder.

### Actual behaviour
It gives me a loading ring and a yellow box saying: "error loading activities"

If I click on a single file the message goed away. If I disable the activities app and re-enable it, the yellow ex

[2015-10-21 08:08] nickvergessen commented on #419
Okay, few things in the beginning:

There is no owncloud version 8.3, mind sharing the download link you used?

Do you mean the Details option in the file list, or which icon are you talking about?
![bildschirmfoto vom 2015-10-21 10 03 37](https://cloud.githubusercontent.com/assets/213943/10631006/2b1a4478-77db-11e5-8e2a-007c12744253.png)

This sounds a bit like https://github.com/owncloud/activit

[2015-10-21 08:29] deanso commented on #419
Youre right, I just migrated to  8.2. Sorry about that.

I mean this icon which I use and correspondig yellow sign:
<img width="1039" alt="2015-10-21 10_24_42-greenshot image editor" src="https://cloud.githubusercontent.com/assets/10999346/10631392/077de7ec-77de-11e5-97ca-a5539261e241.png">

How do I trigger the database update of the activity app: do I have to start over with the whole migration,

[2015-10-21 08:54] nickvergessen commented on #419
Please run the following SQL query:
[code]

Also the question for your download link has not been answered, but is important.

[2015-10-21 09:05] deanso commented on #419
+----------+-------------------+-------------+
| appid    | configkey         | configvalue |
+----------+-------------------+-------------+
| activity | enabled           | yes         |
| activity | installed_version | 2.0.2       |
| activity | types             | filesystem  |
+----------+-------------------+-------------+

I used this download link: wget https://download.owncloud.org/communit

[2015-10-21 09:16] nickvergessen commented on #419
You didn't delete the old files and just uploaded the new files into the existing folder.

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

[2015-10-21 09:16] #419 closed

[2015-10-21 09:34] deanso commented on #419
You're right. Just examined my script and I use rsync to copy them over existing oc.
I'll start again. Thanks for you're help.

[2015-10-22 16:37] umgfoin opened #420 "Upgrade 8.1.x -> 8.2: Missing schema-update for table oc_activity"
During the schema update from 8.1.x to 8.2 table "oc_activity" wön't get correctly upgraded:
Columns "object_id" and "object_type" are not created.
Column "user" declared with "NOT NULL" constrains is violated with NULL-inserts.
Disabling the activity-app and deleting "oc_activity"-table doesn't fix the issue.

The incorrect "oc_activity" table breaks functionality not directly related to activity

[2015-10-22 16:45] karlitschek commented on #420
can you please post a full bug report using the issue template? https://github.com/owncloud/core/blob/master/CONTRIBUTING.md

[2015-10-22 17:14] nickvergessen commented on #420
You didn't update your instance correctly
https://github.com/owncloud/activity/issues/419#issuecomment-149830559

[2015-10-22 17:14] #420 closed

[2015-10-22 19:50] janusdd commented on #419
Same Problem as described.
But not copied something.

What I´v tried so far.
 I manually removed my oc_activity SQL tables (rewriting themself by activate activity was my goal --> missed)
Is this issue connected to the wrong version 2.0.2 of the App? where can i manually get an activityapp update?
sudo -u www-data php occ upgrade brings up  -> latest version

[2015-10-22 20:53] nickvergessen commented on #419
Remove the apps/activity/appdata/version file

[2015-10-22 20:54] nickvergessen commented on #419
and then run occupgrade

[2015-10-23 06:42] janusdd commented on #419
In my case
owncloud/apps/activity/appinfo/version
but in dryrun mode i get  a message that  there is an update. So i try, and i suceed thanks for that

[2015-10-24 12:58] apg1980 opened #421 "OC 8.2 No Email Notification etc."
Hello together,

here my environment:
Bitnami OC 8.2 Stack
Ubuntu 14.04
Apache to 2.4.17
PHP to 5.5.29
MySQL to 5.6.25

after uploading files via webfrontend no entry within the activity app. deleted files are shown in the activity app.
i can see the uploadet file in oc_activity table.

no emial notification is coming. alle email options in personal tab are set.

[2015-10-24 18:27] nickvergessen commented on #421
Did you set up your actual user email address on the personal page?
And are the email admin settings set up correctly?

[2015-10-24 21:14] apg1980 commented on #421
yes i get this via ldap. same config on 8.1.3 was wirking flawlessly

[2015-10-26 02:00] scolebrook opened #423 "Expiring takes a long time"
I'm running 8.1.3 and have about 10,000,000 rows in the activity table. It takes about 2 minutes to run the delete from oc_activity where `timestamp`<? query in the expiry job even if there are no rows that need to be deleted. An explain on that query shows that there are no indexes being used. However I see timestamp is part of 3 other indexes.

However if the cron job doesn't run for a few days

[2015-10-26 06:55] nickvergessen commented on #423
Primary in no way, but will have a look. I thought I made sure it uses an index....

[2015-10-26 08:37] nickvergessen commented on #421
Are the entries added to the activity_mq table?

[2015-10-26 09:01] nickvergessen commented on #423
https://github.com/owncloud/activity/pull/424 Feel free to add the index yourself

[2015-10-26 09:06] #262 closed

[2015-10-26 09:06] #410 closed

[2015-10-26 15:05] #423 closed

[2015-10-26 22:54] abrunstetter commented on #152
I can see a commit, referenced by nickvergessen, which adds another setting. I can't seem to find the setting, however in the github web UI. What am I missing?

[2015-10-27 07:00] nickvergessen commented on #152
The setting is on the personal page below the notifications table

[2015-10-27 15:47] abrunstetter commented on #152
I am still unable to find the setting. None of these settings control whether (or not) i receive notifications about my own changes.
Do I need to be an admin of my repo?

[2015-10-27 16:00] nickvergessen commented on #152
Are you talking about owncloud or github?

In case of owncloud the setting is there:
![bildschirmfoto vom 2015-10-27 16 58 49](https://cloud.githubusercontent.com/assets/213943/10763939/3016512e-7ccc-11e5-94da-5ca346be9687.png)

But since you are speaking about github web ui, and repos I think you ended up at the wrong end of the internet.

[2015-10-28 09:26] apg1980 commented on #421
yes all entrys are in.
but alle the time i upload some files via webpage i get no mail notification althought setted hourly mail notification. for other purposes i get the notification. i cannot see my own actions in action app.

[2015-10-28 09:52] nickvergessen commented on #421
Can you please post the result of
[code]

[2015-10-28 14:14] apg1980 commented on #421
Bearbeiten Bearbeiten 	Kopieren Kopieren 	Löschen Löschen 	9917 	OCA\Activity\BackgroundJob\EmailNotification 	null 	1446040842
	Bearbeiten Bearbeiten 	Kopieren Kopieren 	Löschen Löschen 	8322 	OCA\Activity\BackgroundJob\ExpireActivities 	null 	1446010201
	Bearbeiten Bearbeiten 	Kopieren Kopieren 	Löschen Löschen 	9912 	OCA\Files_Trashbin\BackgroundJob\ExpireTrash 	null 	1446040842
	Bearbeiten Bea

[2015-10-28 14:25] nickvergessen commented on #421
Looks good, the email cron was executed today. Can you visit the admin panel and try to send a test email, using the `Test email settings` option?

[2015-10-28 17:20] apg1980 commented on #421
i am getting email messages, but not from my own actions via the webfrontend.

[2015-10-28 18:20] nickvergessen commented on #421
Which actions exactly?

[2015-10-30 08:08] nickvergessen commented on #405
## Endpoint

1. Specify the last known ID
2. Sorts ascending
3. Header specifies the first known ID (in case the given one was pruned (time))
4. Header specifies if there are more activities (only bool, not a number or something)
5. Client reads header from 3 and throws away all activities before it.
6. Client reads header from 4 and then calls again with the newest ID from the previous call

###

[2015-10-30 08:15] DeepDiver1975 commented on #405
THX @nickvergessen

We need to specify the url parameters of the request as well.

May I suggest to add some example code like https://developer.github.com/v3/repos/#get ? THX

[2015-10-30 09:17] nickvergessen commented on #405
Updated

[2015-11-02 15:11] dragotin commented on #405
Nice, this looks reasonable.

Some questions/remarks:
- How do we specify how many results come back with a call to the new api?
- I don't think using headers here is nice. Can we add the *next-link* and the *there-is-more* to the json doc?
- What is the difference between `trimmed` and `full` for message and subject?
- We should not duplicate the strings with markups in the result. Let's use an `

[2015-11-02 16:32] apg1980 commented on #421
for example, i am uploading a file via the webfrontend to my account, no entry in activity. this is reproduceable.

[2015-11-03 08:12] nickvergessen commented on #421
Works just fine for me.
Please make sure that you have your personal email settings right:
![personal_-_owncloud_-_2015-11-03_09 09 14](https://cloud.githubusercontent.com/assets/213943/10903528/ef53913a-820a-11e5-9efc-55eefedaf11c.png)

As well as the notification settings:
![personal_-_owncloud_-_2015-11-03_09 09 32](https://cloud.githubusercontent.com/assets/213943/10903533/f6b5823a-820a-11e5-8

[2015-11-03 08:36] DeepDiver1975 commented on #405
this approach follows a common standard - https://tools.ietf.org/html/rfc5988 - used by e.g. Github as well

[2015-11-03 08:36] DeepDiver1975 commented on #405
Accept is to specify the full body format - not individual elements

[2015-11-03 08:56] nickvergessen commented on #405
Missed it, added now:

Name | Type | Description
---- | ---- | -----------
limit | int (Optional) | How many activities should be returned (Default: 50)

Well then we need to wrap the result once more, because stuff can not be added to the meta setion, resulting in: `ocs > data > activities > element+`

As per description above:
* **trimmed** - Short version of the subject (only filename instead o

[2015-11-03 09:29] dragotin commented on #405
@DeepDiver1975 @nickvergessen ok, how do we resolve the problem with the mark-up cluttering? We do not want to add mark ups for all use cases (webIF, RSS, desktop, mobile, no idea..), see that for example the css class-definitions do not make sense for clients.

How about a reduced "meta markup" - maybe rst-based - that needs to be converted to the final on each client?

[2015-11-03 10:46] nickvergessen commented on #405
Well that is why we have versions completly without markup:
[code]

But I see that you don't really want to have that either.

I mean we can do something like `<user>admin</user> changed <file>path/to/file.txt</file>` so you can parse it your self.
In case of RSS we'd then just remove the markup altogether to have `admin changed path/to/file.txt` while for the webui we turn it into something like

[2015-11-03 13:05] dragotin commented on #405
Well, *no* markup at all is not useful as well.

I like @nickvergessen idea of the simplified markup. However, the solution should completely preserve the translation, otherwise the texts become completely useless.

Another alternative would be to add a parameter to the request which markups should be added, ie. `markup=rss` or `markup=plain` or so. That would mean that the server would have to ma

[2015-11-03 13:18] nickvergessen commented on #405
I mean we do that indirectly atm anyway (that's how we ended up with those options (full path, html, grouping, ...)
I have no problem in turning them into markup groups. The question is, which markup would you like to have?

[2015-11-03 20:27] ricardopadilha opened #428 "Upgrading a 8.1.x install to 8.2.0 breaks shared links"
After I updated an 8.1.1 (same for 8.1.3) install to 8.2.0, the shared links stopped working. The install is backed by an sqlite database.

This is the apache log:
[code]

owncloud.log reports this:
[code]

This is the schema for `oc_activity` in 8.1.1:
[code]

And in 8.2.0:
[code]

I performed an `occ upgrade`, but the table schema was not updated.

The schema change was introduced by #363.

[2015-11-03 21:24] nickvergessen commented on #428
You didn't update you instance correctly: you did not delete the old files and just uploaded the new files into the existing folder.

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

[2015-11-03 21:24] #428 closed

[2015-11-03 21:25] nickvergessen commented on #428
See #419 #420

[2015-11-04 14:43] partyisover opened #429 "default notification settings"
Hello together,
is there a way to change the default notification settings for new users? For example it would be great if the option “A new file or folder has been created” via mail is by default activated.

thanks for any advice :-)

[2015-11-04 16:11] apg1980 commented on #421
all the options are set, and also the send email test is working.

[2015-11-05 09:03] #421 closed

[2015-11-05 09:03] nickvergessen commented on #421
Well then check your spam folder, nothing I can help you with.

[2015-11-05 09:36] nickvergessen commented on #429
Well since each app can controll the default of it's type, it becomes somewhat difficult:
https://github.com/owncloud/core/blob/master/apps/files/lib/activity.php#L110-L128

But you can add it yourself in that file, until we found a solution that works globally.
[code]

[2015-11-05 10:14] dragotin commented on #405
@nickvergessen lets keep it simple for now:
* `link` to mark complete links
* `relativelink` to mark relative links on the same ownCloud (do we need that?)
* `user`  the principal name of the user - to be fed into at API
* `file` a file relative on the cloud - or on the client.

I do not really see the need for the collection thing you mentioned. What do I overlook?

[2015-11-05 11:13] nickvergessen commented on #405
We have "other" parameters as well, like calendar names, federated cloud ids, for the sake of sanity I'd just put them into tags as well, define a list somewhere and you can just strip them out if you feel like it.

[2015-11-05 11:39] partyisover commented on #429
Hm, don't know If I've done something wrong, but after adding this lines as you adviced, the default notification setting for new users remain the same - "A new file or folder has been created” isn't activated.

[2015-11-05 14:03] nickvergessen commented on #429
@partyisover as you deleted your comment, I assume that worked for you?

[2015-11-05 14:16] partyisover commented on #429
yap, it worked... I'm still using last version (8.1.3) of owncloud, so I had to change first line of your code a bit:

[code]

thx

[2015-11-09 11:03] westberliner opened #431 "Shared file access gets postgres error: Undefined column: 7 ERROR: object_type"
On Owncloud 8.2.0.12
Activity App 2.1.3
With Postgres 9.4.4

If i disable the activity app sharing works again.

I get following error while accessing sharelink:

I recently updated from 8.0 to 8.2 any clues how to fix this?

Thx!

[2015-11-09 11:56] nickvergessen commented on #431
You didn't update your instance correctly
https://github.com/owncloud/activity/issues/419#issuecomment-149830559

---

You didn't delete the old files and just uploaded the new files into the existing folder.

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

[2015-11-09 11:56] #431 closed

[2015-11-09 19:15] westberliner commented on #431
Thx. The update fixed this. I will split my appfolder from coreappfolder from now on.

[2015-11-12 15:48] swurzinger opened #433 "Activity on shared external storage does show no/incorrect file/folder names"
### Steps to reproduce
1. Set up Google Drive as external Storage. In my case I was accessing via a shared (sub)folder
2. Upload some files to that folder
3. Go to activity log

### Expected behaviour
File/Foldernames should be shown

### Actual behaviour
Incorrect or no file/foldernames are shown:
![activitylog](https://cloud.githubusercontent.com/assets/6787397/11122631/5955d716-895c-11e5-930e-f

[2015-11-12 16:09] nickvergessen commented on #433
Duplicate https://github.com/owncloud/core/issues/15858

[2015-11-12 16:09] #433 closed

[2015-11-16 15:39] kiu-ball commented on #355
Still have this problem in 8.1.3. Language is set to 'Deutsch (Förmlich: Sie)'.

[2015-11-16 15:41] nickvergessen commented on #355
Please try 8.1.4 and/or 8.2

[2015-11-16 16:35] partyisover commented on #370
:+1:
is there a way to add file links to the existing mail template? html parsing doesn't work for me.

[2015-11-19 21:41] MTRichards commented on #105
Given this is backlog, is there opportunity for 9.0 here, or are we on to 9.1?

[2015-11-22 20:05] caco3 opened #435 "Download of a shared link is broken when activity is enabled"
When I share a file as a link, a user can successfully see its preview.
How ever when he wants to download it, he gets a Server Error (Error 500).

The log shows the following:

```Exception: {"Exception":"Doctrine\\DBAL\\Exception\\InvalidFieldNameException","Message":"An exception occurred while executing 'INSERT INTO `oc_activity` (`app`, `subject`, `subjectparams`, `message`, `messageparams`,

[2015-11-22 20:33] plabong opened #436 ""Favorites" and "All" are showing same content"
### Steps to reproduce
1. Start Activity App
2. Click on "all Activities"
3. Click on "Favorites"

### Expected behaviour
different content should be shown

### Actual behaviour
identical content shown

### Server configuration
**Operating system**:
Debian GNU/Linux 8.2

**Web server:**
Apache/2.4.10 (Debian)

**Database:**
mysql  Ver 14.14 Distrib 5.5.46, for debian-linux-gnu (i686)

**PHP versio

[2015-11-22 23:47] karlitschek commented on #436
@PVince81

[2015-11-22 23:47] karlitschek commented on #435
@nickvergessen

[2015-11-23 09:32] nickvergessen commented on #436
We should hide the "favorites" depending on the settings, if you only display favorites in all, it makes no sense to have the filter again, right.

[2015-11-23 09:35] nickvergessen commented on #435
Duplicate of https://github.com/owncloud/activity/issues/419#issuecomment-149830559

---

You didn't delete the old files and just uploaded the new files into the existing folder.

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

[2015-11-23 09:35] #435 closed

[2015-11-23 14:21] nickvergessen commented on #436
Actually this seems to all work as intended as none of that is the same:
- `all` contains all activities (file related once are stripped down to favorites)
- `favorites` contains all file related activity (stripped down to favorites)
- `files` contains all file related activity

So the reason why all and favorite seem to be the same for you is, that you don't have share activity entries at the mom

[2015-11-23 14:21] #436 closed

[2015-11-26 18:53] caco3 commented on #435
You are right, sry
Because the update most of the time fails, I started to simply overwrite the installation.

[2015-12-07 07:37] nickvergessen opened #437 "Set display name in JS avatar method"
Ref https://github.com/owncloud/core/pull/20943

[2015-12-09 08:30] Bricecdb commented on #175
I know this thread is closed, but in case someone comes across it, this can help. My php.ini timezone was set correctly however the email notification timezone was UTC. To find if the server time was in the correct time zone, I created a php file, timezone.php and inserted the following code:

<!doctype html>
<Html>
<body>
<?php
echo date_default_timezone_get();
?>
</body>
</html>

The above code

[2015-12-09 09:12] nickvergessen commented on #175
The timezone is overwritten by owncloud itself:
https://github.com/owncloud/core/blob/master/lib/base.php#L529

There is also a lot of code relying on that value to be UTC.
Normally a login in the web UI should save your current timezone as a user setting (see table oc_preferences).
If that does not work, feel free to open an issue at https://github.com/owncloud/core/issues/new but do **not** modi

[2015-12-09 09:30] Bricecdb commented on #175
@Nickvergessen

Correct at the login in the web UI does save my current time zone and yes the oc_preferences has my correct timezone. The activity app on the web browser does show the correct timestamp of the activity but not the email. The fix does correct the timestamp issue in the email. The activity_qm table keeps the time as Unix or Epoch format, which mean when I query the data, the database

[2015-12-09 09:38] nickvergessen commented on #175
You could add `\OC::$server->getLogger()->error('user ' . $userName . ' has timezone ' . $timezone);`
at https://github.com/owncloud/activity/blob/master/lib/mailqueuehandler.php#L216 and then check the logs when the next email is being sent.

Second debugging step add before https://github.com/owncloud/activity/blob/master/lib/backgroundjob/emailnotification.php#L133:
[code]

[2015-12-09 09:42] Bricecdb commented on #175
Thanks will give that a try!

[2015-12-14 10:36] nickvergessen commented on #407
This is covered with #405

[2015-12-14 10:36] #407 closed

[2016-01-05 09:58] nickvergessen opened #440 "Make "and x more" clickable"
- [x] Depends on #405
- [x] Depends on #434

Ref https://github.com/owncloud/enterprise/issues/720

[2016-01-06 18:19] enoch85 opened #441 "Lazy loading doesn't work"
Since 8.2.1 Lazy loading doesn't work any more.

Check video for desciption.
https://en0ch.se/index.php/s/rjuKBf4iFgFBsaN

#### Server
Ubuntu 14.04
PHP 5.6
MySQL 5.5

[2016-01-06 22:03] nickvergessen commented on #441
Anything in the log, js console, network tab of yout browser?
And the loading seems to work at least a bit, because it shows more then 30 entries?

[2016-01-06 23:02] enoch85 commented on #441
@nickvergessen There is no distinct error in the logs AFAIK. And the number of items are inconsistent. On the "All activites" it seems to work on the first 30, then it breaks somewhere around 50. Only thing I can find is this in the network console:

[code]

But even after I solved that, the issue remains the same. No other errors in the browser console.

Hard bug to solve without any info, I know

[2016-01-06 23:11] enoch85 commented on #441
@nickvergessen I can give you an account if you want to try for yourself?

[2016-01-07 10:10] nickvergessen commented on #441
Would be nice, poke me on IRC?

[2016-01-07 10:34] nickvergessen commented on #441
Master is currently also affected, but will be fixed with #434 differently

[2016-01-07 12:02] enoch85 commented on #441
Works! :+1:  Thank you!

[2016-01-07 12:03] enoch85 commented on #441
Problem solved, no need. :)

[2016-01-07 12:04] enoch85 commented on #441
Close via PR instead.

[2016-01-07 12:33] #441 closed

[2016-01-08 14:12] jancborchardt commented on #356
Reopening after talking about this with @karlitschek – we need some kind of collapsing or simplification here.

[2016-01-11 11:30] nickvergessen commented on #405
Merged #434

[2016-01-12 12:43] jpaechnatz opened #447 "German translation..."
Cause I don't want to open a transifex account for one translation error...could somebody please change "erhälst" in "erhältst". Thanks.

Concerning files:
apps/activity/l10n/nds.json
apps/activity/l10n/de.json
apps/activity/l10n/nds.js
apps/activity/l10n/de.js

[2016-01-12 12:51] nickvergessen commented on #447
done for de, waiting for approval to nds

[2016-01-12 13:56] nickvergessen commented on #447
Both entries will be fixed with the next transifex update tonight.

[2016-01-12 13:56] #447 closed

[2016-01-15 16:00] MTRichards commented on #105
@cmonteroluque @karlitschek is this 9.0 possible?

[2016-01-15 17:14] nickvergessen commented on #105
@MTRichards Few questions before a possible implementation can start:

* When the user was notified and ignores it, it should notify again after:
  + x uploads
  + x MB of uploads
  + x days
* When the user was notified, deleted stuff to be "good" again and uploads again, when should he be notified:
  + immediate
  + after x days
  + after x uploads
* Should the quota be checked on upload, of asyn

[2016-01-15 20:46] cmonteroluque commented on #105
adding @PVince81

[2016-01-18 14:56] #437 closed

[2016-01-18 14:56] #440 closed

[2016-01-18 15:43] nickvergessen opened #450 "Emails need syntax fixing after switching to the new endpoint"
[code]

[2016-01-22 10:41] #450 closed

[2016-01-26 13:03] zarakiel opened #453 "No BackgroundJob\EmailNotification"
Hello,

I run an Owncloud server 8.2.2 on a Linux Debian 8.
The activity app is functioning except the mail notifications.
The owncloud mail function is configured correctly and I receive test mails.

When I look into the DB I can see the activities in oc_activity_mq but no EmailNotification in oc_jobs...

Do someone know what I can do ?

Thanks :)

**Server configuration**
Operating system: Linux

[2016-01-26 13:25] nickvergessen commented on #453
Might be caused by a failure when sending an email.
In the past background jobs got removed when they failed.

Until the next maintenance update you can add the following at the end of the `apps/activity/appinfo/app.php` file:
[code]

Or you apply the patch: https://github.com/owncloud/core/commit/6b813f56c9208743002456792009dd14b950b8d3 and add the entries manually back to the jobs table.

[2016-01-26 13:25] #453 closed

[2016-01-27 17:44] RalfWW opened #454 "[8.2.2] "InvalidFieldNameException" by trying to download a public shared file"
### Steps to reproduce
1. create a folder with some files
2. share this folder "by Link" with password and allow modification
3. Access OC by the created Link, type the password and try to download a file

4. Deactivating the App "Activity": the download starts as expected.

### Expected behaviour
Tell us what should happen
The download window shoud start

### Actual behaviour
Tell us what happens

[2016-01-27 21:30] nickvergessen commented on #454
You didn't update your instance correctly
https://github.com/owncloud/activity/issues/419#issuecomment-149830559

---

You didn't delete the old files and just uploaded the new files into the existing folder.

https://doc.owncloud.org/server/8.2/admin_manual/maintenance/upgrade.html#manual-upgrade-procedure

[2016-01-27 21:30] #454 closed

[2016-01-28 09:51] RalfWW commented on #454
Yes, you right.
Thanks for your help!

[2016-02-05 12:32] cmonteroluque commented on #105
@MTRichards Joas is looking for guidance on questions above

[2016-02-05 16:23] MTRichards commented on #105
@cmonteroluque thanks for the ping.

25% of the remaining quota is used.

Sorry, not sure what we are notifying now? He is good until he hits the quota limit again...

This is not so easy - @karlitschek given the performance potential here, I would like input. It seems a cron can explode, and an upload check can slow the rest down...
I would default to a check when a file is to be uploaded.

[2016-02-05 16:57] karlitschek commented on #105
I'm quote sure we check the quota anyway during upload. So the only thing we additionally need to do is:
if (quote_before_upload>threshold and quote_after_upload<threshold) send_activity and send_notification
Performance impact should be minimal.

[2016-02-06 10:17] casper000 opened #457 "owncloud activity notification, information leak"
helow,

Is it possible to add in owncloud activity email report to send full list of activity of hour, day or week. In official documentation is written that not to loose data we must create accout to hold all shares for users. that account receives email notification for all activities in share but is not complete list. so if user deletes something it will be in that account's recycle bin folder.

[2016-02-06 12:09] nickvergessen commented on #457
Each account will only be notified about files he/she had access to. This can and will not be changed...

[2016-02-06 12:09] #457 closed

[2016-02-06 19:36] casper000 commented on #457
ok but sheres are in folder of user who has shared files to others am i right? that's the account owncloud suggest to create and share files to others because if user is deleted data will be deletes as well. so that user hold all shares an THAT USER RECEIVES ACTIVITIES BY OTHER MADE IN OWN SHARE BUT THEY ARE SEVERAL AND CHANGES ARE THOUSANDS. that's all.

[2016-02-08 12:47] markymif opened #458 "Instant Notifications"
Is it possible to have OwnCloud send a notification for each new batch of activity?  When I operate a shared folder on Dropbox, I get emails to say who added what etc.  But the best I can get is the setting or Hourly which sometimes ends up being two hours with OC.

[2016-02-09 09:06] nickvergessen commented on #458
The activity app is not ment to be a instant notification thing. The problem e.g. is if you use the files_texteditor, the file is saved multiple times per minute. It would trigger an email each time... and also it is (depending on the instance size) quite expensive to get all users to notify etc. so this is delayed like it is now.

If you want to get the email each time one is assembled, the faste

[2016-02-09 09:06] #458 closed

[2016-02-09 10:56] markymif commented on #458
Thanks for that, I seem to be getting notifications every 30mins now which is better but still too long a delay.

[2016-02-09 11:12] nickvergessen commented on #458
Right, then you need to switch to system cron and call it every minute, or you trigger the web UI every second.
That gets it to 15 minutes. If that is still too slow, you need to change https://github.com/owncloud/activity/blob/master/lib/backgroundjob/emailnotification.php#L63-L64 to 1 minute.

[2016-02-09 11:34] markymif commented on #458
thanks, I have made your suggested changes and now it send out the alerts more prompt.

thanks again

[2016-02-10 14:30] markymif opened #459 "File List cropped in IE"
Hi, just noticed this so unsure if its new to 8.2.2.

if I upload 16 folders in chrome, then look at the same folder content in IE11 all I see is 13 folders.  There is no scroll bar to look down further than the 13 folders.

If I then add some additional files to the root folder, they are there in Chrome, but not in IE11

[2016-02-10 14:52] nickvergessen commented on #459
Please report in core: https://github.com/owncloud/core/issues using the issue template that contains some questions which help developers to reproduce your issue:
https://github.com/owncloud/core/blob/master/CONTRIBUTING.md#short-version

[2016-02-10 14:52] #459 closed

[2016-02-11 10:05] #100 closed

[2016-02-11 10:05] nickvergessen commented on #100
This is in for 9.0.0

[2016-02-16 02:16] pioneerwebsites commented on #431
We use Installatron to update, so they are apparently doing the update incorrectly... :-(

[2016-02-17 16:05] dragotin commented on #405
The API turns out to not be suitable to fulfill the needs of WebUI and client. That is for the following reasons:
- field `subjectparams` does not need the collection type
- the `object_*` fields are not of use
- the `*_prepared` fields do not really contain displayable strings with marked object user, file and such, as it was agreed on before.

@nickvergessen saw more issues. Unfortunately the re

[2016-02-18 00:13] karlitschek commented on #405
Argh. @nickvergessen @dragotin Not sure how this happened. Any suggestions how we can fi this mess?
@DeepDiver1975 any input?

[2016-02-18 06:35] nickvergessen commented on #405
Well we need this scheduled in the same time frame as the client so we can work on it concurrently.

Most likely we have to break the activity manager api, as it currently allows for random output, even html works. We need to define a structure that works for more api users than just the web ui and then all activity creating apps need to obey this new format.

We also need to define what we do wit

[2016-02-18 20:44] alve89 opened #464 ""remote user" did something"
### Expected behavior

Displayed activity: remote_user@another-domain.tld created xyz.pdf

### Actual behaviour

Displayed activity: "remote user" created xyz.pdf

### Steps to reproduce

Share a directory with an external user: remote_user@another-domain.tld
This user does something within his own account in the external cloud
### Server configuration

Operating system: Linux 3.13.0-77 Ubuntu

We

[2016-02-18 21:05] nickvergessen commented on #464
Currently not possible due to https://github.com/owncloud/core/issues/13739

[2016-02-18 21:38] alve89 commented on #464
Alright. Thank you for this information!

[2016-02-18 21:38] #464 closed

[2016-02-18 22:20] RealRancor commented on #429
There is now an app providing this functionality:

https://apps.owncloud.com/content/show.php/ActivityDefaults?content=174669

[2016-02-22 10:37] butonic opened #465 "After upgrade from OC8.1 to 8.2 sidebar does not show pre update activities"
The global app view does list activities for pre update files but selecting the detail view for them only produces an empty activity list.

Waiting for logs, but maybe this is already enough info.

[2016-02-22 10:41] nickvergessen commented on #465
Yeah that's simply not possible.
The problem is previous we didn't store the object details for activities. So on DB level we didn't know:
1. Is this activity about a file
2. Which file is it about

Doing it in an update step is also not possible, because when you renamed folders etc we can not find the object either, or even find a wrong object, so the result is pre-update activities can not be b

[2016-02-22 10:41] #465 closed

[2016-02-22 21:37] cmonteroluque commented on #405
does 9.0.1 work?

[2016-02-22 22:45] karlitschek commented on #405
This sounds like more changes are needed then just a bugfix. So 9.1 it seems. :-( Again. Not sure how this disconnect could have happened on the architecture side. @nickvergessen @DeepDiver1975 Can you please schedule a call with me to discuss a possible way out? Thanks.

[2016-02-23 14:52] DeepDiver1975 commented on #405
@karlitschek so the original v2 OCS API was removed from the public api. So no unused API will be released - which is good.

I suggest we discuss the API to be used from 9.1 on during the design week in Nürnberg - with @dragotin  being there as well  we can get this sorted out.

[2016-02-23 15:39] karlitschek commented on #405
agreed. let restart this for 9.1

[2016-02-29 08:24] mbressman opened #467 "Activity Feed doesn't load additional information when scrolling"
When I go to the activity feed in oC 8.2.2 and then start scrolling down, I hit the spinning circle (looks similar to this: http://ceblog.s3.amazonaws.com/wp-conte ... pinner.png) and it just stays there forever instead of loading more data in the activity feed - confirmed that others are experiencing this as well via post on forum: https://forum.owncloud.org/viewtopic.php?f=36&t=33120

### Steps

[2016-02-29 09:35] nickvergessen commented on #467
This was fixed for 8.2.3:
https://github.com/owncloud/activity/commit/3c20125a53c341e112bb5b9aa655c541ec5e6ba5

Can you confirm?

[2016-03-02 17:41] waltershaik opened #471 "Everyone tab not listing the LDAP users in owncloud 8.2"
HI,

In my owncloud 8.2 the Everyone tab in the users not listing the users in the LDAP..So unable to share the file/folder to the LDAP user.Can any one help on this..

### Server configuration
**Operating system**: Ubuntu 14.04

**Web server:** apache2

**Database:** mysql

**PHP version:** PHP 5.5.9

**ownCloud version:** (see ownCloud admin page) 8.2

**Updated from an older ownCloud or fresh i

[2016-03-02 18:12] nickvergessen commented on #471
This has nothing to do with the activity app, please report here: https://github.com/owncloud/core/issues/new

[2016-03-02 18:12] #471 closed

[2016-03-03 08:16] #467 closed

[2016-03-04 22:17] teejcee opened #472 "Server time incorrect in client tab"
It appears that the time reflected in the Server Activity tab is GMT.

I'm in Sydney, Australia & some activity recently ( 02/03/16 ) was being reported as "11 hour(s) ago on ip-address" while the time in the Sync Protocol tab giave the correct local time & correct date. "2/03/16 12:10:10 PM"

I was requested by a moderator on the owncloud forum to change my system time to gmt
run a test & report

[2016-03-07 09:10] nickvergessen commented on #472
That is more of a client issue, but I just tested it and can reproduce with 2.1.1 but not on the latest 2.1 branch.
So I expect that the next update will fix this,
Ref https://github.com/owncloud/client/issues/4521

[2016-03-07 09:10] #472 closed

[2016-03-09 10:53] dragotin commented on #405
@karlitschek mentioned something about a public standard that could be used here.

[2016-03-10 08:06] ChristophWurst opened #475 "Remove left margin from files tabview"
Left margin causes inconsistency of different tabs in the files sidebar:

The activity tab _with_ margin:
![bildschirmfoto von 2016-03-10 08-58-53](https://cloud.githubusercontent.com/assets/1374172/13663012/de57c3b2-e69e-11e5-8e37-248ad84d2350.png)
Other tabs don't have it:
![bildschirmfoto von 2016-03-10 08-59-04](https://cloud.githubusercontent.com/assets/1374172/13663013/e1e454e6-e69e-11e5-8d9

[2016-03-10 08:19] nickvergessen commented on #475
Well the problem is, if you modify/add/delete/share the file, we have the icon.
basically comment activities miss an icon, that is why they look "too far intended".

@jancborchardt can you craft an icon please?

[2016-03-10 09:45] beedaddy opened #476 "memcached error - no activities are being shown"
### Steps to reproduce
1. Just go to the activities app

### Expected behaviour
Some activities should be shown.

### Actual behaviour
No activities are being shown. Instead, I get this error message in the log:
`Error 33 interacting with memcached : A BAD KEY WAS PROVIDED\\\/CHARACTERS OUT OF RANGE\`

### Server configuration
**Operating system**: Debian 8

**Web server:** Apache 2.4

**Database:

[2016-03-10 09:48] nickvergessen commented on #476
Please report in core, since that is not an error of the activity app, thanks:
https://github.com/owncloud/core/issues/new

[2016-03-10 09:49] nickvergessen commented on #476
Or can you please show all statements of your owncloud.log file?

[2016-03-10 09:55] beedaddy commented on #476
Sure, here it is:
`{"reqId":"xxx","remoteAddr":"xxx.xx.xxx.xx","app":"index","message":"Exception: {\"Exception\":\"Exception\",\"Message\":\"Error 33 interacting with memcached : A BAD KEY WAS PROVIDED\\\/CHARACTERS OUT OF RANGE\",\"Code\":0,\"Trace\":\"#0 \\\/var\\\/www\\\/owncloud\\\/lib\\\/private\\\/memcache\\\/memcached.php(80): OC\\\\Memcache\\\\Memcached->verifyReturnCode()\\n#1 \\\/var\\\

[2016-03-10 10:13] beedaddy commented on #476
Sorry it might just has been a config problem. I removed the memcached stuff from the config file (I accidentially had both memcached and redis in my config file) and it now seems to work.

[2016-03-10 10:23] #476 closed

[2016-03-10 12:48] dragotin opened #477 "Translation Issue"
On a german installation the removal of a share is reported as
![activity2](https://cloud.githubusercontent.com/assets/1070214/13669866/a434cb26-e6c6-11e5-836c-c22941a9b7bd.png)

In the web interface in English, the text is correct. I know we translate in transifex and can not influence and yadda, but ... it is a bit suspicious that in the german translation only the last word misses.

Feel free t

[2016-03-10 12:49] dragotin commented on #477
Ah, I should mention that *Sie  haben die Freigabe von fw für Bilder/kids* lacks a *"entfernt"*

[2016-03-10 13:06] nickvergessen commented on #477
Will fix the translations, seems like they are not translated at all atm

[2016-03-10 13:07] dragotin commented on #477
Hmm, I could not find the string ".... removed the share from..." in the English strings. Was wondering about that, but did not dig deeper tbh.

[2016-03-10 13:20] aspdye opened #478 "Short Description"
Update short description to: :zap: Activity app for ownCloud

cc @nickvergessen

[2016-03-10 13:28] nickvergessen commented on #477
Fixed them, should be updated in master tomorrow, I will put them on my "backport translations for 9.0.1" list

[2016-03-10 13:28] #477 closed

[2016-03-10 14:11] danimo commented on #477
Wait did we also fix the "Du/Sie" mismatch there?

[2016-03-10 14:19] #478 closed

[2016-03-10 15:54] nickvergessen commented on #477
yes

[2016-03-10 18:02] mstrent opened #479 "Log remote IP address with public link downloaded activity"
I know this info would be in the server logs, but it would be great if the Activity function also showed the IP address of remote users who download files via public links.

Our scenario is this: we deliver Public Disclosure Requests in installments to requestors via Owncloud public links. If a requestor doesn't access the first installment within a certain time period, we are allowed by law to co

[2016-03-10 21:37] nickvergessen commented on #479
https://github.com/owncloud/activity/issues/350 duplicate

[2016-03-10 21:37] #479 closed

[2016-03-11 11:48] apg1980 opened #480 "Recreate activity database tables after deleting it"
Can please someone tell me how to recreate the activity database tables after deleting it?
After enabling the app, no tables are created.
I am running OC9 with the latest activity app.
Thanks a lot.

Apache to 2.4.17
PHP to 5.5.29
MySQL to 5.6.25
Ubuntu 14.04

[2016-03-11 11:55] apg1980 commented on #480
Ok solved it, i had to delete the entrys from oc_appconfig eather.

[2016-03-11 13:19] #480 closed

[2016-03-11 17:05] apg1980 opened #481 "Spinning wheel OC 9"
Apache to 2.4.17
PHP to 5.5.29
MySQL to 5.6.25
OC 9
Ubuntu 14.04

Activity in right side bar is spinning all the time.
Sometimes after clicking again on the specific file or folder the spinning stops and is showing no activitys.
Then i often get the "**error while loading activitys**" or "**failed to perform requests for notification**" with the yellow label on the top.
The spinning wheel is braki

[2016-03-12 14:24] SchroSct opened #482 "Clicking files doesn't direct to file"
Apache/2.4.12
PHP 5.6.11
mysqld  Ver 5.6.28
oC 9.0.0

When clicking a file in the activity app, it links to /owncloud/files/index.php?dir=/foo&scrollto=file.txt and it takes me to /owncloud/index.php/apps/files/

[2016-03-12 21:07] Loki3000 opened #483 "infinite scrolldown in OC9"
While scroll down an activity app first page appears again.
In firebug console requests:
[code]
(since var not changes)

FF45

[2016-03-14 09:03] nickvergessen commented on #481
`failed to perform requests for notification` is from the notification app.
However when both, activity and notifications fail, there seems to be a bigger problem beyond.

Since you manipulated your DB on your own (https://github.com/owncloud/activity/issues/480) it might be impossible to find out.

Please try to use the development tool of your browser to find out what the response of the respect

[2016-03-14 09:31] nickvergessen commented on #483
Can you check the response of those requests? are they valid? what does the resonse look like?

[2016-03-14 09:31] nickvergessen commented on #483
Also, anything in your owncloud.log?

[2016-03-14 13:17] Loki3000 commented on #483
Yes, responses valid and returns json for the first page (it's only 15 events at all now).
In server error log all clear.

[2016-03-14 14:04] nickvergessen commented on #483
Can you check the headers of the response?
Something like:
[code]
should be set.

[2016-03-14 14:10] Loki3000 commented on #483
[code]

[2016-03-14 14:11] #482 closed

[2016-03-14 14:43] nickvergessen commented on #483
Are the headers really lowercase for you?
Are you behind a proxy or something like that?

[2016-03-14 14:53] nickvergessen commented on #483
If so, please try https://github.com/owncloud/activity/pull/488

[2016-03-14 15:03] Loki3000 commented on #483
Yes. Headers looks exactly as I paste above.
I have tested with proxy and without.
With a fix all works well. Thanks!

[2016-03-14 15:04] #483 closed

[2016-03-15 16:08] apg1980 commented on #481
I havent manipulated, just cleared the tables for a new beginning.
can u guide me somehow with firefox?

[2016-03-15 16:12] apg1980 commented on #481
ok i have started ff debugger console.
before i cleared notification and activity tables.
i click on a item witch is getting a spinning wheel:

Using //@ to indicate sourceMappingURL pragmas is deprecated. Use //# instead jquery.min.js:1:0
window.controllers sollte nicht mehr verwendet werden. Verwenden Sie es nicht für die Browser-Erkennung. ace.js:1716:0
getPreventDefault() sollte nicht mehr ver

[2016-03-15 16:20] nickvergessen commented on #481
Are you using memcached? https://github.com/owncloud/activity/issues/476

Otherwise I need more info about your instance.
As for the console, follow these steps:
![bildschirmfoto vom 2016-03-15 17 18 25](https://cloud.githubusercontent.com/assets/213943/13785063/28bd454e-ead2-11e5-97a3-b35d52e4b24d.png)

[2016-03-15 16:28] apg1980 commented on #481
i am using redis:
  'memcache.local' => '\\OC\\Memcache\\Redis',
  'filelocking.enabled' => 'false',
  'memcache.distributed' => '\\OC\\Memcache\\Redis',
  'memcache.locking' => '\\OC\\Memcache\\Redis',
  'redis' =>
  array (
    'host' => '/var/run/redis/redis.sock',
    'port' => 0,
    'timeout' => 0,
    'dbindex' => 0,
  ),

[2016-03-15 16:30] apg1980 commented on #481
ok this is the response content from a spinning wheel item:

<!DOCTYPE html>

<html class="ng-csp" data-placeholder-focus="false" lang="de" >
	<head data-user="08598A5C-6FB6-450C-A152-628B33F56156" data-user-displayname="p.grunenberg" data-requesttoken="HR8BVTI1QiUfBQVyXgtcDxgfDi0VEzBNKWwDTU8cGCA=:ROq0DC2VrRvFmoofbNAycVdzs/y9wkMOYuHItEXgerE=">
		<meta charset="utf-8">
		<title>
			Dateien - CLOUD.

[2016-03-15 16:34] apg1980 commented on #481
![snip_20160315173444](https://cloud.githubusercontent.com/assets/9514965/13785526/3a4d220a-ead4-11e5-9194-42b6bd507bdd.png)

[2016-03-15 16:35] apg1980 commented on #481
![snip_20160315173543](https://cloud.githubusercontent.com/assets/9514965/13785575/5e41f4d8-ead4-11e5-8a4a-5048e9470230.png)

[2016-03-19 07:16] jancborchardt commented on #475
There already is an icon: `icon-comment`. I wouldn’t add it while the tab is separate though since it will just result in repeated icons.

So we should wait for the Activity tab being combined in core.

[2016-03-19 07:28] nickvergessen commented on #475
The change and share icon can repeat too...

[2016-03-19 11:26] Adesso opened #491 "Activities not loading (Autoload path not allowed)"
**OS** CentOS 7 64 bit
**DB** mysql  Ver 14.14 Distrib 5.6.29
**Webserver** nginx 1.6.3
**PHP**  5.6.19
**Ownloud** 9.0.0
**Plugin** Activity  2.2.1
After a Manual upgrade from OC 8.2.2 to 9.0.0 the Activity pane on all Folders no longer loads. The log error:
{"reqId":"xxx","remoteAddr":"xxx","app":"index","message":"Exception: {\"Exception\":\"OCP\\\\AutoloadNotAllowedException\",\"Mess

[2016-03-20 21:41] jancborchardt commented on #475
I know. But the comment icon will definitely be the _only_ icon in the comments tab. So it does not make any sense to use it, cause it doesn’t help to distinguish anything – it’s just visual noise.

[2016-03-21 06:27] nickvergessen commented on #475
We are talking abou tthe activity app and stream, which would be good to have an icon for.
I will test `icon-comment`

[2016-03-21 08:27] nickvergessen commented on #491
Do you have the files_sharing app enabled? Because that is what is failing to load.

[2016-03-21 11:07] georgehrke opened #492 "Show changes from calendar"
from @Kawohl:

[code]

https://github.com/owncloud/calendar/issues/355

[2016-03-21 11:22] nickvergessen commented on #492
There is an API for it, but it will under go a major rework for 9.1 most likely.
So not sure if it's worth the trouble to implement it now.

Also after the API is done (it's in core) the calendar app should take care of it.

I will leave this issue open as a reminder and then create an issue in the calendar app to use the API, once it's done.

[2016-03-21 11:26] georgehrke commented on #492
Well, with the calendar app only providing the GUI by now, it's not the right place in my opinion either. :confused:

If both (caldav server and the new activity API) are in core, it should probably be implemented there as well. What do you think?

[2016-03-21 12:12] Adesso commented on #491
As far as I can see this is a standard app that comes with OC 9, and there is no way to disable this in the admin backend. I could remove the app files, but this would render OC a bit useless... anyway

I have disabled all apps but the Activity App to test some more.
**Results. **
Create a new folder temp - Worked, showed that I created it
View old standard Folder **Documents **- No result, but al

[2016-03-21 12:39] nickvergessen commented on #492
Right, I forgot about that. But e.g. for tagging we do that as well. In terms of "if you don't use the UI, you don't want that either".
Other idea could be a "calendar activity app" or something like that. or we just put it into the activity app as a separated "bundle" (sub-app) which can be enabled/disabled simply with a checkbox by the admin.

[2016-03-21 12:52] nickvergessen commented on #491
Can you please run the command `./occ app:list` from your ownCloud root?

[2016-03-22 06:25] Adesso commented on #491
Enabled:
  - activity: 2.2.1
  - dav: 0.1.5
  - federatedfilesharing: 0.1.0
  - files: 1.4.4
Disabled:
  - comments
  - encryption
  - external
  - federation
  - files_external
  - files_mv
  - files_pdfviewer
  - files_sharing
  - files_texteditor
  - files_trashbin
  - files_versions
  - files_videoplayer
  - firstrunwizard
  - gallery
  - notifications
  - provisioning_api
  - systemtags
  - t

[2016-03-22 06:49] jancborchardt commented on #475
Right, true. Misunderstanding since the original issie was about the margin. Yes, definitely goos to add the icon-comment when it's a mixed actions list.

[2016-03-22 07:45] nickvergessen commented on #491
Right, now I saw the issue, try https://github.com/owncloud/core/pull/23461

[2016-03-22 08:49] #475 closed

[2016-03-22 14:12] #491 closed

[2016-03-24 14:53] karlitschek opened #494 "Activity API and improvements"
# ActivityStream and ActivityPub

## Precondition
This feature will be added to the current activity app.

## Requirements
Any client should be capably to query the server for activities. We will support Activity Streams https://www.w3.org/TR/activitystreams-core/ and ActivityPub https://www.w3.org/TR/2016/WD-activitypub-20160128/ .

## Feature description
2. How to map our activity strings into t

[2016-03-24 14:54] karlitschek commented on #494
additional context. https://github.com/owncloud/activity/issues/405
Please not that this is the main ticket

[2016-03-24 15:19] nickvergessen commented on #494
Uhh, where does this come from all of a sudden, that is a completly different task?!

[2016-03-24 18:24] alpha-ray-burst opened #495 "Activities Take 30 Minutes to Load, and oc_activities Table is Very Large"
I have searched the open and closed issues, but did not see my exact issue. I also have consulted the ownCloud community but we were unable to resolve this issue.

My thread on the ownCloud forums:
https://forum.owncloud.org/viewtopic.php?t=33097

Description of issue:

When I select a folder or file, the activities panel opens to the right with a spinning wheel. The wheel spins for about 30 minut

[2016-03-24 20:02] apg1980 commented on #495
i have exactly the same issue. [https://github.com/owncloud/activity/issues/481](url)
i tryed to cleare my activity tables but the issue still exists.

[2016-03-25 22:24] karlitschek commented on #492
We definitely should use activities and notification to show event from different apps like the calendar. This was the idea behind the activities in the first place :-)
@nickvergessen You are referring to the new external REST API right? I hope that the PHP doesn't change. And the old REST API should also still works.

[2016-03-27 12:39] mmccarn commented on #476
I'm seeing the same behavior - also related to memcached.
With memcache.local or memcache.distributed set, the Activity app shows a spinning progress indicator forever.

With both of these disabled, Activity works fine (but I get a 'no memory cache' warning).

**Operating system**: Ubuntu 14.04
**Web server**: Apache 2.4.7
**Database**: 5.5.47-0ubuntu0.14.04.1 (Ubuntu)
**PHP version**: PHP 5.5.9-1

[2016-03-29 07:22] nickvergessen commented on #476
Well it will be fixed in 9.0.1 which is released next week (most likely)

See https://github.com/owncloud/core/pull/23214 and try to apply it yourself.

[2016-03-29 12:28] nickvergessen commented on #495
95GB of activities sound like a hole new and other issue.

I just saw that we have no index for the sidebar query. Are you advanced enough to add one index over the object_type and object_id columns? And see if that helps?

[2016-03-29 17:22] alpha-ray-burst commented on #495
Thanks for the reply, nickvergessen.

I'm sorry, but no, I do not know how to add indexes over columns.

If you could explain how to do this, and if the scope of risk of adding the indexes does not extend past the activities app (i.e. I'm not going to crash ownCloud by doing this), then I would be happy to try it out.

[2016-03-30 07:18] nickvergessen commented on #495
This query should work for mysql

[code]

[2016-03-30 14:07] oparoz opened #496 "Add ability to filter by last hour, day, week, month or year in the Web GUI"
The web GUI retrieves all activities and offers to filter by category. It would be nice if we could apply an extra time filter to those listings.

Proposed so far:

* last hour
* last 24h
* last 7 x 24h
* last 30 x 24h
* last 365 x 24h

This would all be done in Javascript, using the data returned by the API.

One caveat is that this could represent a massive amount of data depending on the user's

[2016-03-30 14:15] jancborchardt commented on #496
Why do we need that filter though exactly? It’s already sorted chronologically, so that filter is inherent. Just stop scrolling. ;)

[2016-03-30 14:28] nickvergessen commented on #496
Yeah, also "last 365 x 24h" might be useless, when the admin prunes after 30days e.g.

[2016-03-30 14:28] #496 closed

[2016-03-30 23:16] alpha-ray-burst commented on #495
Ok, I had a problem creating the index and would like to ask your advice.

The first time, I ran the query via SSH and it gave me an error after about 10 minutes. Something to the effect of "lost connection to SQL database."

Then I tried to run the query directly on the server's CLI, and got the following error:
"ERROR 1061 (42000): Duplicate key name 'activity_object' "

I assumed this was becau

[2016-03-31 05:44] nickvergessen commented on #495
Looks good

[2016-03-31 18:31] alpha-ray-burst commented on #495
nickvergessen,

You have performed a miracle! The issue is fixed.

I ran the SQL query you provided on my database as instructed:

``ALTER TABLE `oc_activity` ADD INDEX `activity_object` (`object_type`, `object_id`)``

It returned this:

`` Query OK, 0 rows affected (31 min 37.14 sec)
Records: 0 Duplicates: 0 Warnings: 0 ``

And then I went back to ownCloud, enabled the Activity app (I had it disa

[2016-03-31 18:35] nickvergessen commented on #495
Sounds good,

@DeepDiver1975 I think we have to add that index, but might be slow for huge instances...
Any recommendation?

[2016-04-01 10:28] mmccarn commented on #476
I can confirm that the very small change from the commit you mention solved the problem for me.

Thanks.

[2016-04-01 11:08] MTRichards commented on #405
In the interim between 9 and 9.1, a draft standard from the W3C has emerged. There is the opportunity to use this standard for this activity stream, rather than implementing our own. As it is in draft, we can put in feature requests.
Note: Types of activity stream are defined by W3C, and we need to correlate ownCloud values to W3C pre-defined types.

Plan for oC
- Support the old API with the new

[2016-04-01 11:09] MTRichards commented on #494
Integration of data from different sources need some form of consistent data structure.
For web view in 9.1, comments go into the activity stream.
This needs a new system for placing comments into the activity stream.
Need to update the "don't notify me about my own actions" to now not include non-file operations, such as comments.
Activity stream has a filter for all, comments, and activity.

The

[2016-04-01 12:16] #495 closed

[2016-04-01 13:17] MTRichards commented on #405
Estimation: 2 weeks

[2016-04-01 13:21] MTRichards commented on #494
Estimation: 2.5 weeks

@jancborchardt

[2016-04-07 04:16] digsig commented on #481
i get the spinning wheel of death with oC9 when loading activities, too.
this error message coheres with it definitively !

/var/log/apache2/error.log:

PHP Fatal error:  Call to a member function getMimetype() on boolean in /var/www/owncloud/lib/private/previewmanager.php on line 161

[2016-04-11 07:01] #481 closed

[2016-04-11 08:02] nickvergessen opened #504 "Combine comments and activity tab in the File sidebar"
- [ ] "List your own actions in the stream" should only affect file actions (add, change, delete, restore, share). Especially comments activities should be visible.
- [ ] Scrolling/show more to retrieve earlier comments: https://github.com/owncloud/activity/issues/413
- [ ] Add an JS event for comments to add the "New comment" box
- [ ] Add an JS event to allow apps to help formatting their activi

[2016-04-11 08:06] nickvergessen commented on #494
* Combining with comments has been moved to https://github.com/owncloud/activity/issues/504
* The W3C stuff is already discussed in https://github.com/owncloud/activity/issues/405

So I'm closing this epic

[2016-04-11 08:06] #494 closed

[2016-04-12 01:45] minneyar opened #506 "Activity notifications in OwnCloud 9.0.1.3 are all enabled and cannot be disabled"
### Steps to reproduce
1.  Go to the "Personal" page for a user.
2.  Observe that all Mail & Stream activity notification checkboxes are checked.
3.  Try to disable some or all of them; note that a pop-up appears saying that your preferences have been saved.
4.  Reload the page.
5.  Observe that they are all enabled again.
6.  Furthermore, do something that would cause a notification to happen suc

[2016-04-12 05:55] nickvergessen commented on #506
Can you test https://github.com/owncloud/activity/pull/500

[2016-04-12 10:33] Maulwurf16 opened #507 "Activity APP spams Log with "Session closed" messages, when Mail App is activated"
See my Issue here:

https://github.com/owncloud/mail/issues/1408

The Activity App spams the owncloud.log with the cron job intervall.

`Error while running background job (class: OCA\Activity\BackgroundJob\EmailNotification, arguments: ): {"Exception":"Exception","Message":"Session has been closed - no further changes to the session are allowed","Code":0,"Trace":"#0 \/var\/www\/owncloud\/lib\/pri

[2016-04-12 10:40] nickvergessen commented on #507
Please update to 9.0.1 https://github.com/owncloud/activity/pull/487

[2016-04-12 10:40] #507 closed

[2016-04-12 17:15] minneyar commented on #506
After making the changes in #500, this appears to be fixed.

[2016-04-12 18:09] #506 closed

[2016-04-14 13:53] rabauke opened #508 "wrong links in RSS feed"
When a user User has created a file foo/bar.txt , the activity rss feed notes (German locale):

User hat foo/bar-txt erstellt

with a link target to https://server.net/owncloud/files/index.php?dir=/foo , which however should be https://server.net/owncloud/index.php/apps/files/?dir=/foo .

[2016-04-15 09:53] #508 closed

[2016-04-15 11:10] nickvergessen commented on #508
Fix be fixed in 9.0.2

[2016-04-19 01:40] alpha-ray-burst commented on #495
Hey guys, I just noticed that the infinite scroll in the Activity app itself is still not fixed. It hangs on loading the second page. I don't suppose there's another index I can add to magically fix this, is there?

[2016-04-19 06:44] nickvergessen commented on #495
Can you create a new issue and supply all the information from the issue template:
https://raw.githubusercontent.com/owncloud/core/master/issue_template.md

[2016-04-19 07:36] colttt commented on #467
Hello,

today i upgrade from 8.2.1 to 8.2.3 and the bug still exist.
We have a LDAP-Backend with deleted users, but in owncloud there exist because there share something, it looks like that the activity fails to load entrys where the user has an activity with me.

[2016-04-20 12:50] Adesso opened #514 "Add Group not updating group list in Admin view"
### Steps to reproduce
1. Login using a admin account
2. Click on Add Group and type a new group name
3. Confirm the name by clicking the + Button

### Expected behaviour
The left menu pane should update listing the new Group

### Actual behaviour
The Group should be listed in the left pane, but somehow the list is not refreshed. Once another Group is added the last "missing Group" is displayed. R

[2016-04-20 13:28] nickvergessen commented on #514
Sorry, you ended up in the wrong repository.
Please open a new issue in https://github.com/owncloud/core/issues/new

[2016-04-20 13:28] #514 closed

[2016-04-22 09:47] alvar-freude commented on #375
At the moment owncloud logs sometimes renamed folders and files as deleted+created. It may be good to detect all rename actions correct, but it's better to log a rename too then do nothing (when deleted+created, it will be logged).

As mentioned in owncloud/core#24176:

In SQL we have a wonderful thing called triggers. Such things like history tables (like oc_activity) can't be wrong, when filled

[2016-04-27 08:52] #413 closed

[2016-05-16 21:32] tombou opened #524 "Show when a file was opened (option)"
There is a way to log when someone access files and folders from the web platform directly in the activity stream? It can be an option actually that is disable by default because it may generate a lot of data.

[2016-05-17 06:35] nickvergessen commented on #524
The problem is, that the system also opens a files, e.g. when creating thumbnails, versions, etc.
So that will really generate a lot of data and the worst thing about it: will make all those operations slow.
Since we need to get the list of people that have access to the file, what their path is, etc.

So I don't think that this is something we should do.